<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>948</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>Copyright © 2013 by Olga Karpushina, Alexei Vanyashin. All rights reserved.</string>
	<key>descender</key>
	<integer>-255</integer>
	<key>description</key>
	<string>Lora is designed by Olga Karpushina, and Alexei Vanyashin for Cyreal.

This Font Software is licensed under the SIL Open Font License, Version 1.1. 
</string>
	<key>familyName</key>
	<string>Lora Devanarari</string>
	<key>fsType</key>
	<array>
	</array>
	<key>license</key>
	<string>Copyright (c) 2011
Cyreal (www.cyreal.org)
with Reserved Font Name "Lora"

This Font Software is licensed under the SIL Open Font License

Version 1.1. This license is available with a FAQ at:
http://scripts.sil.org/OFL</string>
	<key>licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeHeadCreated</key>
	<string>2014/09/03 18:31:01</string>
	<key>openTypeNameDesigner</key>
	<string>Olga Karpushina(Latin), Alexei Vanyashin (Cyrillic, Devanagari)</string>
	<key>openTypeNameDesignerURL</key>
	<string>www.cyreal.org</string>
	<key>openTypeNameManufacturer</key>
	<string>Cyreal</string>
	<key>openTypeNameManufacturerURL</key>
	<string>www.cyreal.org</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Lora Devanarari</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Lora is a trademark of Cyreal (www.cyreal.org).</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>13</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
