<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>T</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_cha-deva</key>
	<dict>
		<key>@MMK_R_ja-deva</key>
		<real>19.531200408935547</real>
		<key>@MMK_R_ka-deva</key>
		<real>19.531200408935547</real>
		<key>@MMK_R_ma-deva</key>
		<real>9.765620231628418</real>
		<key>@MMK_R_ra-deva</key>
		<real>-4.882810115814209</real>
		<key>@MMK_R_tta-deva</key>
		<real>9.765620231628418</real>
		<key>ba-deva</key>
		<real>-4.882810115814209</real>
		<key>rra-deva</key>
		<real>9.765620231628418</real>
	</dict>
	<key>@MMK_L_d_ra_uMatra-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-58.593799591064453</real>
		<key>@MMK_R_ca-deva</key>
		<real>-48.828098297119141</real>
		<key>@MMK_R_dda-deva</key>
		<real>-24.414100646972656</real>
		<key>@MMK_R_ga-deva</key>
		<real>-43.945301055908203</real>
		<key>@MMK_R_gha-deva</key>
		<real>-29.296899795532227</real>
		<key>@MMK_R_ha-deva</key>
		<real>-14.64840030670166</real>
		<key>@MMK_R_ja-deva</key>
		<real>-29.296899795532227</real>
		<key>@MMK_R_la-deva</key>
		<real>-29.296899795532227</real>
		<key>@MMK_R_ma-deva</key>
		<real>-9.765620231628418</real>
		<key>@MMK_R_na-deva</key>
		<real>-48.828098297119141</real>
		<key>@MMK_R_pa-deva</key>
		<real>-43.945301055908203</real>
		<key>@MMK_R_ta-deva</key>
		<real>-39.0625</real>
		<key>@MMK_R_tta-deva</key>
		<real>-24.414100646972656</real>
		<key>@MMK_R_ya-deva</key>
		<real>-39.0625</real>
	</dict>
	<key>@MMK_L_d_ra_uuMatra-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-73.242202758789062</real>
		<key>@MMK_R_ca-deva</key>
		<real>-63.476600646972656</real>
		<key>@MMK_R_da-deva</key>
		<real>-9.765620231628418</real>
		<key>@MMK_R_dda-deva</key>
		<real>-34.179698944091797</real>
		<key>@MMK_R_ga-deva</key>
		<real>-48.828098297119141</real>
		<key>@MMK_R_gha-deva</key>
		<real>-53.710899353027344</real>
		<key>@MMK_R_ha-deva</key>
		<real>-19.531200408935547</real>
		<key>@MMK_R_ja-deva</key>
		<real>-43.945301055908203</real>
		<key>@MMK_R_la-deva</key>
		<real>-43.945301055908203</real>
		<key>@MMK_R_ma-deva</key>
		<real>-39.0625</real>
		<key>@MMK_R_na-deva</key>
		<real>-73.242202758789062</real>
		<key>@MMK_R_pa-deva</key>
		<real>-58.593799591064453</real>
		<key>@MMK_R_ta-deva</key>
		<real>-48.828098297119141</real>
		<key>@MMK_R_tta-deva</key>
		<real>-29.296899795532227</real>
		<key>@MMK_R_ya-deva</key>
		<real>-53.710899353027344</real>
		<key>d_ra_uMatra-deva</key>
		<real>-29.296899795532227</real>
	</dict>
	<key>@MMK_L_da-deva</key>
	<dict>
		<key>@MMK_R_ka-deva</key>
		<real>-24.414100646972656</real>
		<key>@MMK_R_pa-deva</key>
		<real>-24.414100646972656</real>
	</dict>
	<key>@MMK_L_dda-deva</key>
	<dict>
		<key>@MMK_R_dda-deva</key>
		<real>-4.882810115814209</real>
		<key>@MMK_R_ga-deva</key>
		<real>-14.64840030670166</real>
		<key>@MMK_R_jha-deva</key>
		<real>-39.0625</real>
		<key>@MMK_R_ka-deva</key>
		<real>-9.765620231628418</real>
		<key>@MMK_R_tta-deva</key>
		<real>-14.64840030670166</real>
		<key>nya-deva</key>
		<real>-43.945301055908203</real>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_g-deva</key>
	<dict>
		<key>@MMK_R_ra-deva</key>
		<real>-24.414100646972656</real>
		<key>@MMK_R_tta-deva</key>
		<real>-4.882810115814209</real>
	</dict>
	<key>@MMK_L_gh-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-63.476600646972656</real>
		<key>@MMK_R_ca-deva</key>
		<real>-63.476600646972656</real>
		<key>@MMK_R_dda-deva</key>
		<real>25.390600204467773</real>
		<key>@MMK_R_gha-deva</key>
		<real>-9.765620231628418</real>
		<key>@MMK_R_ha-deva</key>
		<real>-19.531200408935547</real>
		<key>@MMK_R_ja-deva</key>
		<integer>0</integer>
		<key>@MMK_R_jha-deva</key>
		<integer>0</integer>
		<key>@MMK_R_ka-deva</key>
		<real>4.882810115814209</real>
		<key>@MMK_R_ma-deva</key>
		<real>-34.179698944091797</real>
		<key>@MMK_R_na-deva</key>
		<real>-14.64840030670166</real>
		<key>@MMK_R_pa-deva</key>
		<real>-19.531200408935547</real>
		<key>@MMK_R_ra-deva</key>
		<integer>0</integer>
		<key>@MMK_R_tta-deva</key>
		<real>9.765620231628418</real>
		<key>@MMK_R_ya-deva</key>
		<real>-4.882810115814209</real>
		<key>dha-deva</key>
		<real>-29.296899795532227</real>
		<key>nga-deva</key>
		<real>29.296899795532227</real>
		<key>nna-deva</key>
		<real>-9.765620231628418</real>
	</dict>
	<key>@MMK_L_j-deva</key>
	<dict>
		<key>@MMK_R_ja-deva</key>
		<real>-185.5469970703125</real>
	</dict>
	<key>@MMK_L_ka-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-29.296899795532227</real>
		<key>@MMK_R_ca-deva</key>
		<real>-19.531200408935547</real>
		<key>@MMK_R_ha-deva</key>
		<real>-14.64840030670166</real>
		<key>@MMK_R_jha-deva</key>
		<real>-34.179698944091797</real>
		<key>@MMK_R_pa-deva</key>
		<real>-14.64840030670166</real>
		<key>@MMK_R_ra-deva</key>
		<real>4.882810115814209</real>
	</dict>
	<key>@MMK_L_m-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-29.296899795532227</real>
		<key>@MMK_R_ca-deva</key>
		<real>-29.296899795532227</real>
		<key>@MMK_R_dda-deva</key>
		<real>-4.882810115814209</real>
		<key>@MMK_R_ha-deva</key>
		<real>-29.296899795532227</real>
		<key>@MMK_R_pa-deva</key>
		<real>-19.531200408935547</real>
	</dict>
	<key>@MMK_L_n-deva</key>
	<dict>
		<key>@MMK_R_gha-deva</key>
		<real>-78.125</real>
		<key>@MMK_R_ja-deva</key>
		<real>24.414100646972656</real>
		<key>@MMK_R_ma-deva</key>
		<real>-48.828098297119141</real>
		<key>@MMK_R_ya-deva</key>
		<real>-19.531200408935547</real>
	</dict>
	<key>@MMK_L_nga-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<real>-9.765620231628418</real>
	</dict>
	<key>@MMK_L_pa-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<real>-19.531200408935547</real>
		<key>@MMK_R_gha-deva</key>
		<real>19.531200408935547</real>
		<key>@MMK_R_ha-deva</key>
		<real>-14.64840030670166</real>
		<key>@MMK_R_ja-deva</key>
		<real>-4.882810115814209</real>
		<key>@MMK_R_jha-deva</key>
		<real>-19.531200408935547</real>
		<key>@MMK_R_ka-deva</key>
		<real>-9.765620231628418</real>
		<key>@MMK_R_ma-deva</key>
		<real>4.882810115814209</real>
		<key>@MMK_R_pa-deva</key>
		<integer>0</integer>
		<key>@MMK_R_ra-deva</key>
		<integer>0</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>0</integer>
		<key>rra-deva</key>
		<real>14.64840030670166</real>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_ra-deva</key>
	<dict>
		<key>@MMK_R_da-deva</key>
		<integer>0</integer>
		<key>@MMK_R_dda-deva</key>
		<real>-24.414100646972656</real>
		<key>@MMK_R_jha-deva</key>
		<real>-24.414100646972656</real>
		<key>@MMK_R_ka-deva</key>
		<real>-9.765620231628418</real>
		<key>va-deva</key>
		<real>-29.296899795532227</real>
	</dict>
	<key>@MMK_L_t-deva</key>
	<dict>
		<key>@MMK_R_ya-deva</key>
		<real>14.64840030670166</real>
	</dict>
	<key>@MMK_L_tta-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<real>-48.828098297119141</real>
		<key>@MMK_R_da-deva</key>
		<real>-24.414100646972656</real>
		<key>@MMK_R_ka-deva</key>
		<real>-14.64840030670166</real>
	</dict>
	<key>@MMK_L_y-deva</key>
	<dict>
		<key>@MMK_R_ra-deva</key>
		<real>-19.531200408935547</real>
	</dict>
	<key>dottedCircle</key>
	<dict>
		<key>aiMatra_anusvara-deva</key>
		<real>-390.625</real>
	</dict>
	<key>rra-deva</key>
	<dict>
		<key>@MMK_R_ka-deva</key>
		<real>-19.531200408935547</real>
	</dict>
</dict>
</plist>
