<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_45</key>
	<array>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
	</array>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Aacute.001</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_b-deva</key>
	<array>
		<string>v_n-deva</string>
		<string>v_r-deva</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_cha-deva</key>
	<array>
		<string>cha-deva</string>
		<string>c_ch_va-deva</string>
		<string>ch_na-deva</string>
		<string>ch_va-deva</string>
	</array>
	<key>@MMK_L_d_ra_uMatra-deva</key>
	<array>
		<string>da_uMatra-deva</string>
		<string>d_gha_uMatra-deva</string>
		<string>d_da_uMatra-deva</string>
		<string>d_dha_uMatra-deva</string>
		<string>d_na_uMatra-deva</string>
		<string>d_ba_uMatra-deva</string>
		<string>d_bha_uMatra-deva</string>
		<string>d_ra_uMatra-deva</string>
		<string>d_va_uMatra-deva</string>
	</array>
	<key>@MMK_L_d_ra_uuMatra-deva</key>
	<array>
		<string>da_uuMatra-deva</string>
		<string>d_ga_uuMatra-deva</string>
		<string>d_gha_uuMatra-deva</string>
		<string>d_da_uuMatra-deva</string>
		<string>d_dha_uuMatra-deva</string>
		<string>d_na_uuMatra-deva</string>
		<string>d_ba_uuMatra-deva</string>
		<string>d_bha_uuMatra-deva</string>
		<string>d_ra_uuMatra-deva</string>
		<string>d_va_uuMatra-deva</string>
	</array>
	<key>@MMK_L_da-deva</key>
	<array>
		<string>da-deva</string>
		<string>d_ga-deva</string>
		<string>d_g_ra-deva</string>
		<string>d_gha-deva</string>
		<string>d_da-deva</string>
		<string>d_dha-deva</string>
		<string>d_na-deva</string>
		<string>d_ba-deva</string>
		<string>d_b_ra-deva</string>
		<string>d_bha-deva</string>
		<string>d_ra-deva</string>
		<string>d_va-deva</string>
	</array>
	<key>@MMK_L_dda-deva</key>
	<array>
		<string>dda-deva</string>
		<string>ha-deva</string>
		<string>dd_gha-deva</string>
		<string>dd_tta-deva</string>
		<string>dd_dda-deva</string>
		<string>dd_ddha-deva</string>
		<string>dd_na-deva</string>
		<string>ddh_ddha-deva</string>
		<string>ddh_na-deva</string>
		<string>rr_ha-deva</string>
		<string>ha_rVocalicMatra-deva</string>
		<string>h_nna-deva</string>
		<string>h_na-deva</string>
		<string>h_ma-deva</string>
		<string>h_ya-deva</string>
		<string>h_ra-deva</string>
		<string>h_la-deva</string>
		<string>h_va-deva</string>
		<string>ii-deva</string>
		<string>rrVocalic-deva</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_g-deva</key>
	<array>
		<string>g_n-deva</string>
		<string>g_r-deva</string>
	</array>
	<key>@MMK_L_gh-deva</key>
	<array>
		<string>gh_r-deva</string>
		<string>dh_r-deva</string>
	</array>
	<key>@MMK_L_guilsinglleft</key>
	<array>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_L_guilsinglright</key>
	<array>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_ha-deva</key>
	<array>
		<string>ha_uMatra-deva</string>
		<string>ha_uuMatra-deva</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>@MMK_L_j-deva</key>
	<array>
		<string>j_ny-deva</string>
		<string>j_r-deva</string>
		<string>j_j-deva.alt</string>
	</array>
	<key>@MMK_L_k_ss-deva</key>
	<array>
		<string>k_ss-deva</string>
	</array>
	<key>@MMK_L_ka-deva</key>
	<array>
		<string>ka-deva</string>
		<string>pha-deva</string>
		<string>k_ka-deva</string>
		<string>k_t_ta-deva</string>
		<string>k_ra-deva</string>
		<string>k_va-deva</string>
		<string>ph_ra-deva</string>
		<string>k_ra-deva.alt</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>l</string>
		<string>lslash</string>
	</array>
	<key>@MMK_L_lla-deva</key>
	<array>
		<string>lla-deva</string>
	</array>
	<key>@MMK_L_m-deva</key>
	<array>
		<string>bh_n-deva</string>
		<string>bh_r-deva</string>
		<string>m_n-deva</string>
		<string>m_r-deva</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_n-deva</key>
	<array>
		<string>n_n-deva</string>
		<string>nnn-deva</string>
	</array>
	<key>@MMK_L_nga-deva</key>
	<array>
		<string>nga-deva</string>
		<string>ng_ka-deva</string>
		<string>ng_k_t_ta-deva</string>
		<string>ng_k_ra-deva</string>
		<string>ng_k_ssa-deva</string>
		<string>ng_kha-deva</string>
		<string>ng_ga-deva</string>
		<string>ng_g_ra-deva</string>
		<string>ng_gha-deva</string>
		<string>ng_gh_ra-deva</string>
		<string>ng_ma-deva</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_pa-deva</key>
	<array>
		<string>kha-deva</string>
		<string>ga-deva</string>
		<string>gha-deva</string>
		<string>ca-deva</string>
		<string>ja-deva</string>
		<string>jha-deva</string>
		<string>nya-deva</string>
		<string>nna-deva</string>
		<string>ta-deva</string>
		<string>tha-deva</string>
		<string>dha-deva</string>
		<string>na-deva</string>
		<string>pa-deva</string>
		<string>ba-deva</string>
		<string>bha-deva</string>
		<string>ma-deva</string>
		<string>ya-deva</string>
		<string>la-deva</string>
		<string>va-deva</string>
		<string>sha-deva</string>
		<string>ssa-deva</string>
		<string>sa-deva</string>
		<string>k_ssa-deva</string>
		<string>k_ss_ma-deva</string>
		<string>k_ss_ya-deva</string>
		<string>k_ss_ra-deva</string>
		<string>kh_na-deva</string>
		<string>kh_ra-deva</string>
		<string>g_na-deva</string>
		<string>g_n_ya-deva</string>
		<string>g_ra-deva</string>
		<string>g_r_ya-deva</string>
		<string>gh_na-deva</string>
		<string>gh_ra-deva</string>
		<string>c_ca-deva</string>
		<string>c_ra-deva</string>
		<string>j_nya-deva</string>
		<string>j_ra-deva</string>
		<string>jha_uMatra-deva</string>
		<string>jh_ra-deva</string>
		<string>ny_ca-deva</string>
		<string>ny_ja-deva</string>
		<string>ny_ra-deva</string>
		<string>tt_tt_ya-deva</string>
		<string>tt_ya-deva</string>
		<string>tth_tth_ya-deva</string>
		<string>tth_ya-deva</string>
		<string>dd_dd_ya-deva</string>
		<string>dd_ma-deva</string>
		<string>dd_ya-deva</string>
		<string>ddh_ddh_ya-deva</string>
		<string>ddh_ya-deva</string>
		<string>nn_ra-deva</string>
		<string>t_ta-deva</string>
		<string>t_ra-deva</string>
		<string>t_r_ya-deva</string>
		<string>th_ra-deva</string>
		<string>d_d_ya-deva</string>
		<string>d_dh_ya-deva</string>
		<string>d_bh_ya-deva</string>
		<string>d_ma-deva</string>
		<string>d_ya-deva</string>
		<string>d_r_ya-deva</string>
		<string>d_v_ya-deva</string>
		<string>dh_ra-deva</string>
		<string>n_na-deva</string>
		<string>n_n_ya-deva</string>
		<string>n_bha-deva</string>
		<string>n_ma-deva</string>
		<string>n_ra-deva</string>
		<string>p_jha-deva</string>
		<string>p_ta-deva</string>
		<string>p_ra-deva</string>
		<string>b_ja-deva</string>
		<string>b_ra-deva</string>
		<string>bh_ra-deva</string>
		<string>m_ra-deva</string>
		<string>y_ra-deva</string>
		<string>rr_ya-deva</string>
		<string>l_ra-deva</string>
		<string>v_ra-deva</string>
		<string>v_ha-deva</string>
		<string>sh_ca-deva</string>
		<string>sh_na-deva</string>
		<string>sh_ra-deva</string>
		<string>sh_r_ya-deva</string>
		<string>sh_va-deva</string>
		<string>ss_tt_ya-deva</string>
		<string>ss_tth_ya-deva</string>
		<string>ss_tth_va-deva</string>
		<string>s_t_ra-deva</string>
		<string>s_tha-deva</string>
		<string>s_ra-deva</string>
		<string>c_ca-deva.alt</string>
		<string>j_ja-deva.alt</string>
		<string>t_ra-deva.alt</string>
		<string>t_r_ya-deva.alt</string>
		<string>e-deva</string>
		<string>ai-deva</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_ra-deva</key>
	<array>
		<string>ra-deva</string>
		<string>ra_uMatra-deva</string>
		<string>ra_uuMatra-deva</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>@MMK_L_sh-deva</key>
	<array>
		<string>sh-deva.loclMAR</string>
	</array>
	<key>@MMK_L_sh_r-deva</key>
	<array>
		<string>sh_r-deva</string>
	</array>
	<key>@MMK_L_t-deva</key>
	<array>
		<string>t_t-deva</string>
	</array>
	<key>@MMK_L_tta-deva</key>
	<array>
		<string>tta-deva</string>
		<string>ttha-deva</string>
		<string>ddha-deva</string>
		<string>tt_tta-deva</string>
		<string>tt_ttha-deva</string>
		<string>tt_ddha-deva</string>
		<string>tt_na-deva</string>
		<string>tt_va-deva</string>
		<string>tth_ttha-deva</string>
		<string>tth_na-deva</string>
		<string>p_tta-deva</string>
		<string>ss_tta-deva</string>
		<string>ss_ttha-deva</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_y-deva</key>
	<array>
		<string>y_n-deva</string>
		<string>y_r-deva</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Aacute.001</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>K</string>
		<string>L</string>
		<string>Lslash</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_b</key>
	<array>
		<string>b</string>
		<string>thorn</string>
	</array>
	<key>@MMK_R_bha-deva</key>
	<array>
		<string>bha-deva</string>
		<string>bh_ra-deva</string>
		<string>bh_n-deva</string>
		<string>bh_r-deva</string>
	</array>
	<key>@MMK_R_ca-deva</key>
	<array>
		<string>ca-deva</string>
		<string>c_ca-deva</string>
		<string>c_ch_va-deva</string>
		<string>c_ra-deva</string>
		<string>c_ca-deva.alt</string>
	</array>
	<key>@MMK_R_d</key>
	<array>
		<string>d</string>
		<string>q</string>
	</array>
	<key>@MMK_R_da-deva</key>
	<array>
		<string>k_ssa-deva</string>
		<string>k_ss_ma-deva</string>
		<string>k_ss_ya-deva</string>
		<string>k_ss_ra-deva</string>
		<string>da_uMatra-deva</string>
		<string>da_uuMatra-deva</string>
		<string>d_ga-deva</string>
		<string>d_ga_uMatra-deva</string>
		<string>d_ga_uuMatra-deva</string>
		<string>d_g_ra-deva</string>
		<string>d_gha-deva</string>
		<string>d_gha_uMatra-deva</string>
		<string>d_gha_uuMatra-deva</string>
		<string>d_da-deva</string>
		<string>d_da_uMatra-deva</string>
		<string>d_da_uuMatra-deva</string>
		<string>d_d_ya-deva</string>
		<string>d_dha-deva</string>
		<string>d_dha_uMatra-deva</string>
		<string>d_dha_uuMatra-deva</string>
		<string>d_dh_ya-deva</string>
		<string>d_na-deva</string>
		<string>d_na_uMatra-deva</string>
		<string>d_na_uuMatra-deva</string>
		<string>d_ba-deva</string>
		<string>d_ba_uMatra-deva</string>
		<string>d_ba_uuMatra-deva</string>
		<string>d_b_ra-deva</string>
		<string>d_bha-deva</string>
		<string>d_bha_uMatra-deva</string>
		<string>d_bha_uuMatra-deva</string>
		<string>d_bh_ya-deva</string>
		<string>d_ma-deva</string>
		<string>d_ya-deva</string>
		<string>d_ra-deva</string>
		<string>d_ra_uMatra-deva</string>
		<string>d_ra_uuMatra-deva</string>
		<string>d_r_ya-deva</string>
		<string>d_va-deva</string>
		<string>d_va_uMatra-deva</string>
		<string>d_va_uuMatra-deva</string>
		<string>d_v_ya-deva</string>
		<string>k_ss-deva</string>
	</array>
	<key>@MMK_R_dda-deva</key>
	<array>
		<string>nga-deva</string>
		<string>jha-deva</string>
		<string>dda-deva</string>
		<string>ng_ka-deva</string>
		<string>ng_k_t_ta-deva</string>
		<string>ng_k_ra-deva</string>
		<string>ng_k_ssa-deva</string>
		<string>ng_kha-deva</string>
		<string>ng_ga-deva</string>
		<string>ng_g_ra-deva</string>
		<string>ng_gha-deva</string>
		<string>ng_gh_ra-deva</string>
		<string>ng_ma-deva</string>
		<string>jha_uMatra-deva</string>
		<string>ny_ca-deva</string>
		<string>ny_ja-deva</string>
		<string>ny_ra-deva</string>
		<string>dd_gha-deva</string>
		<string>dd_tta-deva</string>
		<string>dd_dda-deva</string>
		<string>dd_dd_ya-deva</string>
		<string>dd_ddha-deva</string>
		<string>dd_na-deva</string>
		<string>dd_ma-deva</string>
		<string>dd_ya-deva</string>
		<string>ddh_ddha-deva</string>
		<string>ddh_ddh_ya-deva</string>
		<string>ddh_na-deva</string>
		<string>ddh_ya-deva</string>
		<string>ii-deva</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_R_ga-deva</key>
	<array>
		<string>ga-deva</string>
		<string>g_na-deva</string>
		<string>g_n_ya-deva</string>
		<string>g_ra-deva</string>
		<string>g_r_ya-deva</string>
		<string>g_n-deva</string>
		<string>g_r-deva</string>
	</array>
	<key>@MMK_R_gha-deva</key>
	<array>
		<string>gha-deva</string>
		<string>cha-deva</string>
		<string>dha-deva</string>
		<string>gh_na-deva</string>
		<string>gh_ra-deva</string>
		<string>ch_na-deva</string>
		<string>ch_va-deva</string>
		<string>dh_ra-deva</string>
		<string>gh_r-deva</string>
		<string>dh_r-deva</string>
	</array>
	<key>@MMK_R_guilsinglleft</key>
	<array>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guilsinglright</key>
	<array>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>h</string>
		<string>k</string>
	</array>
	<key>@MMK_R_ha-deva</key>
	<array>
		<string>ha-deva</string>
		<string>ha_uMatra-deva</string>
		<string>ha_uuMatra-deva</string>
		<string>ha_rVocalicMatra-deva</string>
		<string>h_nna-deva</string>
		<string>h_na-deva</string>
		<string>h_ma-deva</string>
		<string>h_ya-deva</string>
		<string>h_ra-deva</string>
		<string>h_la-deva</string>
		<string>h_va-deva</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>@MMK_R_iMatra</key>
	<array>
		<string>iMatra-deva</string>
		<string>iMatra-deva.0</string>
		<string>iMatra-deva.01</string>
		<string>iMatra-deva.02</string>
		<string>iMatra-deva.03</string>
		<string>iMatra-deva.05</string>
		<string>iMatra-deva.08</string>
		<string>iMatra-deva.10</string>
		<string>iMatra-deva.15</string>
		<string>iMatra-deva.20</string>
		<string>iMatra-deva.25</string>
		<string>iMatra-deva.30</string>
	</array>
	<key>@MMK_R_ja-deva</key>
	<array>
		<string>ja-deva</string>
		<string>nya-deva</string>
		<string>j_nya-deva</string>
		<string>j_ra-deva</string>
		<string>j_ja-deva.alt</string>
		<string>j_ny-deva</string>
		<string>j_r-deva</string>
		<string>j_j-deva.alt</string>
	</array>
	<key>@MMK_R_jha-deva</key>
	<array>
		<string>jh_ra-deva</string>
	</array>
	<key>@MMK_R_ka-deva</key>
	<array>
		<string>ka-deva</string>
		<string>ba-deva</string>
		<string>lla-deva</string>
		<string>va-deva</string>
		<string>k_ka-deva</string>
		<string>k_ra-deva</string>
		<string>k_va-deva</string>
		<string>b_ja-deva</string>
		<string>b_ra-deva</string>
		<string>v_ra-deva</string>
		<string>v_ha-deva</string>
		<string>k_ra-deva.alt</string>
		<string>v_n-deva</string>
		<string>v_r-deva</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>l</string>
		<string>lslash</string>
	</array>
	<key>@MMK_R_la-deva</key>
	<array>
		<string>la-deva</string>
		<string>l_ra-deva</string>
		<string>lVocalic-deva</string>
		<string>llVocalic-deva</string>
	</array>
	<key>@MMK_R_ma-deva</key>
	<array>
		<string>ma-deva</string>
		<string>m_ra-deva</string>
		<string>m_n-deva</string>
		<string>m_r-deva</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>r</string>
	</array>
	<key>@MMK_R_na-deva</key>
	<array>
		<string>na-deva</string>
		<string>n_na-deva</string>
		<string>n_n_ya-deva</string>
		<string>n_bha-deva</string>
		<string>n_ma-deva</string>
		<string>n_ra-deva</string>
		<string>n_n-deva</string>
		<string>nnn-deva</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
	</array>
	<key>@MMK_R_pa-deva</key>
	<array>
		<string>nna-deva</string>
		<string>pa-deva</string>
		<string>pha-deva</string>
		<string>ssa-deva</string>
		<string>nn_ra-deva</string>
		<string>p_jha-deva</string>
		<string>p_tta-deva</string>
		<string>p_ta-deva</string>
		<string>p_ra-deva</string>
		<string>ph_ra-deva</string>
		<string>ss_tta-deva</string>
		<string>ss_tt_ya-deva</string>
		<string>ss_ttha-deva</string>
		<string>ss_tth_ya-deva</string>
		<string>ss_tth_va-deva</string>
		<string>e-deva</string>
		<string>ai-deva</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_ra-deva</key>
	<array>
		<string>kha-deva</string>
		<string>ra-deva</string>
		<string>sha-deva</string>
		<string>sa-deva</string>
		<string>kh_na-deva</string>
		<string>kh_ra-deva</string>
		<string>ra_uMatra-deva</string>
		<string>ra_uuMatra-deva</string>
		<string>sh_ca-deva</string>
		<string>sh_na-deva</string>
		<string>sh_ra-deva</string>
		<string>sh_r_ya-deva</string>
		<string>sh_va-deva</string>
		<string>s_t_ra-deva</string>
		<string>s_tha-deva</string>
		<string>s_ra-deva</string>
		<string>sh-deva.loclMAR</string>
	</array>
	<key>@MMK_R_rra-deva</key>
	<array>
		<string>rr_ya-deva</string>
		<string>rr_ha-deva</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>@MMK_R_sh_r-deva</key>
	<array>
		<string>sh_r-deva</string>
	</array>
	<key>@MMK_R_ta-deva</key>
	<array>
		<string>ta-deva</string>
		<string>k_t_ta-deva</string>
		<string>t_ta-deva</string>
		<string>t_ra-deva</string>
		<string>t_r_ya-deva</string>
		<string>t_ra-deva.alt</string>
		<string>t_r_ya-deva.alt</string>
		<string>rrVocalic-deva</string>
		<string>t_t-deva</string>
	</array>
	<key>@MMK_R_tta-deva</key>
	<array>
		<string>tta-deva</string>
		<string>ttha-deva</string>
		<string>ddha-deva</string>
		<string>da-deva</string>
		<string>tt_tta-deva</string>
		<string>tt_tt_ya-deva</string>
		<string>tt_ttha-deva</string>
		<string>tt_ddha-deva</string>
		<string>tt_na-deva</string>
		<string>tt_ya-deva</string>
		<string>tt_va-deva</string>
		<string>tth_ttha-deva</string>
		<string>tth_tth_ya-deva</string>
		<string>tth_na-deva</string>
		<string>tth_ya-deva</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_ya-deva</key>
	<array>
		<string>tha-deva</string>
		<string>ya-deva</string>
		<string>th_ra-deva</string>
		<string>y_ra-deva</string>
		<string>y_n-deva</string>
		<string>y_r-deva</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
</dict>
</plist>
