<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>UUID0</key>
		<dict>
			<key>HV</key>
			<integer>8</integer>
		</dict>
		<key>UUID1</key>
		<dict>
			<key>HV</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>15</integer>
		<key>GSOffsetHorizontal</key>
		<integer>3</integer>
		<key>GSOffsetVertical</key>
		<integer>0</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>UUID0</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<real>179</real>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Aacute.001</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tcaron</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>pi</string>
		<string>ka-deva</string>
		<string>kha-deva</string>
		<string>ga-deva</string>
		<string>gha-deva</string>
		<string>nga-deva</string>
		<string>ca-deva</string>
		<string>cha-deva</string>
		<string>ja-deva</string>
		<string>jha-deva</string>
		<string>nya-deva</string>
		<string>tta-deva</string>
		<string>ttha-deva</string>
		<string>dda-deva</string>
		<string>ddha-deva</string>
		<string>nna-deva</string>
		<string>ta-deva</string>
		<string>tha-deva</string>
		<string>da-deva</string>
		<string>dha-deva</string>
		<string>na-deva</string>
		<string>nnna-deva</string>
		<string>pa-deva</string>
		<string>pha-deva</string>
		<string>ba-deva</string>
		<string>bha-deva</string>
		<string>ma-deva</string>
		<string>ya-deva</string>
		<string>ra-deva</string>
		<string>rra-deva</string>
		<string>la-deva</string>
		<string>lla-deva</string>
		<string>llla-deva</string>
		<string>va-deva</string>
		<string>sha-deva</string>
		<string>ssa-deva</string>
		<string>sa-deva</string>
		<string>ha-deva</string>
		<string>qa-deva</string>
		<string>khha-deva</string>
		<string>ghha-deva</string>
		<string>za-deva</string>
		<string>dddha-deva</string>
		<string>rha-deva</string>
		<string>fa-deva</string>
		<string>yya-deva</string>
		<string>zha-deva</string>
		<string>jjya-deva</string>
		<string>gga-deva</string>
		<string>jja-deva</string>
		<string>ddda-deva</string>
		<string>bba-deva</string>
		<string>la-deva.loclMAR</string>
		<string>sha-deva.loclMAR</string>
		<string>jha-deva.loclNEP</string>
		<string>zha-deva.loclNEP</string>
		<string>ya-deva.post</string>
		<string>va-deva.post</string>
		<string>na-deva.post2</string>
		<string>ra-deva.post2</string>
		<string>k_ka-deva</string>
		<string>k_t_ta-deva</string>
		<string>k_ra-deva</string>
		<string>k_va-deva</string>
		<string>k_ssa-deva</string>
		<string>k_ss_ma-deva</string>
		<string>k_ss_ya-deva</string>
		<string>k_ss_ra-deva</string>
		<string>kh_na-deva</string>
		<string>kh_ra-deva</string>
		<string>g_na-deva</string>
		<string>g_n_ya-deva</string>
		<string>g_ra-deva</string>
		<string>g_r_ya-deva</string>
		<string>gh_na-deva</string>
		<string>gh_ra-deva</string>
		<string>ng_ka-deva</string>
		<string>ng_k_t_ta-deva</string>
		<string>ng_k_ra-deva</string>
		<string>ng_k_ssa-deva</string>
		<string>ng_kha-deva</string>
		<string>ng_ga-deva</string>
		<string>ng_g_ra-deva</string>
		<string>ng_gha-deva</string>
		<string>ng_gh_ra-deva</string>
		<string>ng_ma-deva</string>
		<string>c_ca-deva</string>
		<string>c_ch_va-deva</string>
		<string>c_ra-deva</string>
		<string>ch_na-deva</string>
		<string>ch_va-deva</string>
		<string>j_nya-deva</string>
		<string>j_ny_ra-deva</string>
		<string>j_ra-deva</string>
		<string>jha_uMatra-deva</string>
		<string>jh_ra-deva</string>
		<string>ny_ca-deva</string>
		<string>ny_ja-deva</string>
		<string>ny_ra-deva</string>
		<string>tt_tta-deva</string>
		<string>tt_tt_ya-deva</string>
		<string>tt_ttha-deva</string>
		<string>tt_ddha-deva</string>
		<string>tt_na-deva</string>
		<string>tt_ya-deva</string>
		<string>tt_va-deva</string>
		<string>tth_ttha-deva</string>
		<string>tth_tth_ya-deva</string>
		<string>tth_na-deva</string>
		<string>tth_ya-deva</string>
		<string>dd_gha-deva</string>
		<string>dd_tta-deva</string>
		<string>dd_dda-deva</string>
		<string>dd_dd_ya-deva</string>
		<string>dd_ddha-deva</string>
		<string>dd_na-deva</string>
		<string>dd_ma-deva</string>
		<string>dd_ya-deva</string>
		<string>ddh_ddha-deva</string>
		<string>ddh_ddh_ya-deva</string>
		<string>ddh_na-deva</string>
		<string>ddh_ya-deva</string>
		<string>nn_ra-deva</string>
		<string>t_ta-deva</string>
		<string>t_ra-deva</string>
		<string>t_r_ya-deva</string>
		<string>th_ra-deva</string>
		<string>da_uMatra-deva</string>
		<string>da_uuMatra-deva</string>
		<string>d_ga-deva</string>
		<string>d_ga_uMatra-deva</string>
		<string>d_ga_uuMatra-deva</string>
		<string>d_g_ra-deva</string>
		<string>d_gha-deva</string>
		<string>d_gha_uMatra-deva</string>
		<string>d_gha_uuMatra-deva</string>
		<string>d_gh_ya-deva</string>
		<string>d_da-deva</string>
		<string>d_da_uMatra-deva</string>
		<string>d_da_uuMatra-deva</string>
		<string>d_d_ya-deva</string>
		<string>d_dha-deva</string>
		<string>d_dha_uMatra-deva</string>
		<string>d_dha_uuMatra-deva</string>
		<string>d_dh_ya-deva</string>
		<string>d_dh_r_ya-deva</string>
		<string>d_na-deva</string>
		<string>d_na_uMatra-deva</string>
		<string>d_na_uuMatra-deva</string>
		<string>d_ba-deva</string>
		<string>d_ba_uMatra-deva</string>
		<string>d_ba_uuMatra-deva</string>
		<string>d_b_ra-deva</string>
		<string>d_bha-deva</string>
		<string>d_bha_uMatra-deva</string>
		<string>d_bha_uuMatra-deva</string>
		<string>d_bh_ya-deva</string>
		<string>d_ma-deva</string>
		<string>d_ya-deva</string>
		<string>d_ra-deva</string>
		<string>d_ra_uMatra-deva</string>
		<string>d_ra_uuMatra-deva</string>
		<string>d_r_ya-deva</string>
		<string>d_va-deva</string>
		<string>d_va_uMatra-deva</string>
		<string>d_va_uuMatra-deva</string>
		<string>d_v_ya-deva</string>
		<string>d_rVocalicMatra-deva</string>
		<string>dh_ra-deva</string>
		<string>n_na-deva</string>
		<string>n_n_ya-deva</string>
		<string>n_bha-deva</string>
		<string>n_ma-deva</string>
		<string>n_ra-deva</string>
		<string>p_jha-deva</string>
		<string>p_tta-deva</string>
		<string>p_ta-deva</string>
		<string>p_ra-deva</string>
		<string>ph_ra-deva</string>
		<string>b_ja-deva</string>
		<string>b_ra-deva</string>
		<string>bh_ra-deva</string>
		<string>m_ra-deva</string>
		<string>y_ra-deva</string>
		<string>ra_uMatra-deva</string>
		<string>ra_uuMatra-deva</string>
		<string>rr_ya-deva</string>
		<string>rr_ha-deva</string>
		<string>l_ra-deva</string>
		<string>v_ra-deva</string>
		<string>v_ha-deva</string>
		<string>sh_ca-deva</string>
		<string>sh_na-deva</string>
		<string>sh_ra-deva</string>
		<string>sh_r_ya-deva</string>
		<string>sh_va-deva</string>
		<string>ss_tta-deva</string>
		<string>ss_tt_ya-deva</string>
		<string>ss_tt_va-deva</string>
		<string>ss_ttha-deva</string>
		<string>ss_tth_ya-deva</string>
		<string>ss_tth_va-deva</string>
		<string>ss_ra-deva</string>
		<string>s_t_ra-deva</string>
		<string>s_tha-deva</string>
		<string>s_ra-deva</string>
		<string>ha_uMatra-deva</string>
		<string>ha_uuMatra-deva</string>
		<string>ha_rVocalicMatra-deva</string>
		<string>h_nna-deva</string>
		<string>h_na-deva</string>
		<string>h_ma-deva</string>
		<string>h_ya-deva</string>
		<string>h_ra-deva</string>
		<string>h_la-deva</string>
		<string>h_va-deva</string>
		<string>f_ra-deva</string>
		<string>k_ra-deva.alt</string>
		<string>c_ca-deva.alt</string>
		<string>j_ja-deva.alt</string>
		<string>t_ra-deva.alt</string>
		<string>t_r_ya-deva.alt</string>
		<string>k_la-deva.loclMAR</string>
		<string>kh_la-deva.loclMAR</string>
		<string>g_la-deva.loclMAR</string>
		<string>gh_la-deva.loclMAR</string>
		<string>c_la-deva.loclMAR</string>
		<string>ch_la-deva.loclMAR</string>
		<string>p_la-deva.loclMAR</string>
		<string>ph_la-deva.loclMAR</string>
		<string>b_la-deva.loclMAR</string>
		<string>bh_la-deva.loclMAR</string>
		<string>m_la-deva.loclMAR</string>
		<string>l_la-deva.loclMAR</string>
		<string>v_la-deva.loclMAR</string>
		<string>sh_la-deva.loclMAR</string>
		<string>k_ra-deva.loclNEP</string>
		<string>aCandra-deva</string>
		<string>a-deva</string>
		<string>aa-deva</string>
		<string>i-deva</string>
		<string>ii-deva</string>
		<string>u-deva</string>
		<string>uu-deva</string>
		<string>rVocalic-deva</string>
		<string>rrVocalic-deva</string>
		<string>lVocalic-deva</string>
		<string>llVocalic-deva</string>
		<string>eCandra-deva</string>
		<string>eShort-deva</string>
		<string>e-deva</string>
		<string>ai-deva</string>
		<string>oCandra-deva</string>
		<string>oShort-deva</string>
		<string>o-deva</string>
		<string>au-deva</string>
		<string>oe-deva</string>
		<string>ooe-deva</string>
		<string>aw-deva</string>
		<string>ue-deva</string>
		<string>uue-deva</string>
		<string>k-deva</string>
		<string>k_ss-deva</string>
		<string>kh-deva</string>
		<string>g-deva</string>
		<string>g_n-deva</string>
		<string>g_r-deva</string>
		<string>gh-deva</string>
		<string>gh_r-deva</string>
		<string>ng-deva</string>
		<string>ng_k-deva</string>
		<string>c-deva</string>
		<string>ch-deva</string>
		<string>j-deva</string>
		<string>j_ny-deva</string>
		<string>j_r-deva</string>
		<string>jh-deva</string>
		<string>ny-deva</string>
		<string>tt-deva</string>
		<string>tth-deva</string>
		<string>dd-deva</string>
		<string>ddh-deva</string>
		<string>nn-deva</string>
		<string>t-deva</string>
		<string>t_t-deva</string>
		<string>t_r-deva</string>
		<string>th-deva</string>
		<string>d-deva</string>
		<string>dh-deva</string>
		<string>dh_r-deva</string>
		<string>n-deva</string>
		<string>n_n-deva</string>
		<string>nnn-deva</string>
		<string>p-deva</string>
		<string>ph-deva</string>
		<string>b-deva</string>
		<string>bh-deva</string>
		<string>bh_n-deva</string>
		<string>bh_r-deva</string>
		<string>m-deva</string>
		<string>m_n-deva</string>
		<string>m_r-deva</string>
		<string>y-deva</string>
		<string>y_n-deva</string>
		<string>y_r-deva</string>
		<string>rr-deva</string>
		<string>l-deva</string>
		<string>ll-deva</string>
		<string>lll-deva</string>
		<string>v-deva</string>
		<string>v_n-deva</string>
		<string>v_r-deva</string>
		<string>sh-deva</string>
		<string>sh_r-deva</string>
		<string>ss-deva</string>
		<string>s-deva</string>
		<string>h-deva</string>
		<string>q-deva</string>
		<string>khh-deva</string>
		<string>ghh-deva</string>
		<string>z-deva</string>
		<string>f-deva</string>
		<string>aaMatra-deva</string>
		<string>iMatra-deva</string>
		<string>iMatra_reph-deva</string>
		<string>iMatra_reph_anusvara-deva</string>
		<string>iiMatra-deva</string>
		<string>iiMatra_reph-deva</string>
		<string>iiMatra_reph_anusvara-deva</string>
		<string>oCandraMatra-deva</string>
		<string>oShortMatra-deva</string>
		<string>oMatra_anusvara-deva</string>
		<string>oMatra_reph-deva</string>
		<string>oMatra_reph_anusvara-deva</string>
		<string>oMatra-deva</string>
		<string>auMatra_anusvara-deva</string>
		<string>auMatra_reph-deva</string>
		<string>auMatra_reph_anusvara-deva</string>
		<string>auMatra-deva</string>
		<string>prishthaMatraE-deva</string>
		<string>uni093B</string>
		<string>awVowel-deva</string>
		<string>iMatra-deva.0</string>
		<string>iMatra_reph-deva.0</string>
		<string>iMatra_reph_anusvara-deva.0</string>
		<string>iMatra-deva.01</string>
		<string>iMatra_reph-deva.01</string>
		<string>iMatra_reph_anusvara-deva.01</string>
		<string>iMatra-deva.02</string>
		<string>iMatra_reph-deva.02</string>
		<string>iMatra_reph_anusvara-deva.02</string>
		<string>iiMatra-deva.02</string>
		<string>iiMatra_reph-deva.02</string>
		<string>iiMatra_reph_anusvara-deva.02</string>
		<string>iMatra-deva.03</string>
		<string>iMatra_reph-deva.03</string>
		<string>iMatra_reph_anusvara-deva.03</string>
		<string>iMatra-deva.05</string>
		<string>iMatra_reph-deva.05</string>
		<string>iMatra_reph_anusvara-deva.05</string>
		<string>iMatra-deva.08</string>
		<string>iMatra_reph-deva.08</string>
		<string>iMatra_reph_anusvara-deva.08</string>
		<string>iMatra-deva.10</string>
		<string>iMatra_reph-deva.10</string>
		<string>iMatra_reph_anusvara-deva.10</string>
		<string>iMatra-deva.15</string>
		<string>iMatra_reph-deva.15</string>
		<string>iMatra_reph_anusvara-deva.15</string>
		<string>iMatra-deva.20</string>
		<string>iMatra_reph-deva.20</string>
		<string>iMatra_reph_anusvara-deva.20</string>
		<string>iMatra-deva.25</string>
		<string>iMatra_reph-deva.25</string>
		<string>iMatra_reph_anusvara-deva.25</string>
		<string>iMatra-deva.30</string>
		<string>iMatra_reph-deva.30</string>
		<string>iMatra_reph_anusvara-deva.30</string>
		<string>j_j-deva.alt</string>
		<string>sh-deva.loclMAR</string>
		<string>jh-deva.loclNEP</string>
		<string>sh-deva.ss02</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>uni2074</string>
		<string>zero-deva</string>
		<string>one-deva</string>
		<string>two-deva</string>
		<string>three-deva</string>
		<string>four-deva</string>
		<string>five-deva</string>
		<string>six-deva</string>
		<string>seven-deva</string>
		<string>eight-deva</string>
		<string>nine-deva</string>
		<string>five-deva.loclNEP</string>
		<string>eight-deva.loclNEP</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>glottalstop-deva</string>
		<string>danda-deva</string>
		<string>dbldanda-deva</string>
		<string>abbreviation-deva</string>
		<string>space</string>
		<string>nbspace</string>
		<string>space.001</string>
		<string>space.deva</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>.null</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>florin</string>
		<string>sterling</string>
		<string>uni20BA</string>
		<string>uni20BD</string>
		<string>yen</string>
		<string>rupeesign</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>uni00B5</string>
		<string>uni2126</string>
		<string>uni2206</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>dottedCircle</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>uni2113</string>
		<string>uni2116</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>avagraha-deva</string>
		<string>om-deva</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>hungarumlaut.case</string>
		<string>commaaccent</string>
		<string>caroncomb.alt</string>
		<string>uni02C9</string>
		<string>visarga-deva</string>
		<string>uMatra-deva</string>
		<string>uuMatra-deva</string>
		<string>rVocalicMatra-deva</string>
		<string>rrVocalicMatra-deva</string>
		<string>lVocalicMatra-deva</string>
		<string>llVocalicMatra-deva</string>
		<string>eCandraMatra-deva</string>
		<string>candraBindu-deva</string>
		<string>eShortMatra-deva</string>
		<string>eMatra-deva</string>
		<string>eMatra_anusvara-deva</string>
		<string>eMatra_reph-deva</string>
		<string>eMatra_reph_anusvara-deva</string>
		<string>aiMatra-deva</string>
		<string>aiMatra_anusvara-deva</string>
		<string>aiMatra_reph-deva</string>
		<string>aiMatra_reph_anusvara-deva</string>
		<string>anusvara-deva</string>
		<string>halant-deva</string>
		<string>nukta-deva</string>
		<string>reph-deva</string>
		<string>reph_anusvara-deva</string>
		<string>rakar-deva</string>
		<string>rakar_uMatra-deva</string>
		<string>rakar_uuMatra-deva</string>
		<string>oeMatra-deva</string>
		<string>ueMatra-deva</string>
		<string>uueMatra-deva</string>
		<string>udatta-deva</string>
		<string>anudatta-deva</string>
		<string>grave-deva</string>
		<string>acute-deva</string>
		<string>anusvara-deva.001</string>
		<string>candraBindu-deva.imatra</string>
		<string>reph-deva.loclMAR</string>
		<string>reph-deva.imatra</string>
		<string>reph_anusvara-deva.imatra</string>
		<string>deva_knot</string>
		<string>Grave</string>
		<string>Tilde</string>
		<string>Breve</string>
		<string>Acute</string>
		<string>Caron</string>
		<string>Cedilla</string>
		<string>Dieresis</string>
		<string>Ring</string>
		<string>foundry</string>
		<string>noBreak</string>
		<string>nonmarkingreturn</string>
		<string>Circumflex</string>
		<string>ya-deva2.post</string>
		<string>headline-deva</string>
		<string>stem-deva</string>
		<string>stem-short-deva</string>
		<string>stem-tiny-deva</string>
		<string>stem_deva_conj</string>
	</array>
</dict>
</plist>
