<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Chekhakassian-cy</key>
    <string>C_hekhakassian-cy.glif</string>
    <key>Ef-cy.loclBGR</key>
    <string>E_f-cy.loclB_G_R_.glif</string>
    <key>Elhook-cy</key>
    <string>E_lhook-cy.glif</string>
    <key>EnLeftHook-cy</key>
    <string>E_nL_eftH_ook-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Enhook-cy</key>
    <string>E_nhook-cy.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ezh</key>
    <string>E_zh.glif</string>
    <key>Fita-cy</key>
    <string>F_ita-cy.glif</string>
    <key>Gestrokehook-cy</key>
    <string>G_estrokehook-cy.glif</string>
    <key>Ghemiddlehook-cy</key>
    <string>G_hemiddlehook-cy.glif</string>
    <key>Haabkhasian-cy</key>
    <string>H_aabkhasian-cy.glif</string>
    <key>Hadescender-cy</key>
    <string>H_adescender-cy.glif</string>
    <key>Hahook-cy</key>
    <string>H_ahook-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Izhitsa-cy</key>
    <string>I_zhitsa-cy.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kadescender-cy</key>
    <string>K_adescender-cy.glif</string>
    <key>Kahook-cy</key>
    <string>K_ahook-cy.glif</string>
    <key>Kaverticalstroke-cy</key>
    <string>K_averticalstroke-cy.glif</string>
    <key>Yat-cy</key>
    <string>Y_at-cy.glif</string>
    <key>Yusbig-cy</key>
    <string>Y_usbig-cy.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Zhedescender-cy</key>
    <string>Z_hedescender-cy.glif</string>
    <key>be-cy.loclSRB</key>
    <string>be-cy.loclS_R_B_.glif</string>
    <key>breve.case</key>
    <string>breve.case.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brevecomb_hookabovecomb</key>
    <string>brevecomb_hookabovecomb.glif</string>
    <key>brevecomb_hookabovecomb.case</key>
    <string>brevecomb_hookabovecomb.case.glif</string>
    <key>cheabkhasian-cy</key>
    <string>cheabkhasian-cy.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>circumflexcomb.case.i</key>
    <string>circumflexcomb.case.i.glif</string>
    <key>circumflexcomb_hookabovecomb</key>
    <string>circumflexcomb_hookabovecomb.glif</string>
    <key>circumflexcomb_hookabovecomb.case</key>
    <string>circumflexcomb_hookabovecomb.case.glif</string>
    <key>commercialMinusSign</key>
    <string>commercialM_inusS_ign.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divide.alt</key>
    <string>divide.alt.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>elhook-cy</key>
    <string>elhook-cy.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>enghe-cy</key>
    <string>enghe-cy.glif</string>
    <key>enhook-cy</key>
    <string>enhook-cy.glif</string>
    <key>enlefthook-cy</key>
    <string>enlefthook-cy.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>ezh</key>
    <string>ezh.glif</string>
    <key>fita-cy</key>
    <string>fita-cy.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>gedescender-cy</key>
    <string>gedescender-cy.glif</string>
    <key>gestrokehook-cy</key>
    <string>gestrokehook-cy.glif</string>
    <key>haabkhasian-cy</key>
    <string>haabkhasian-cy.glif</string>
    <key>hadescender-cy</key>
    <string>hadescender-cy.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hungarumlaut.case</key>
    <string>hungarumlaut.case.glif</string>
    <key>iu-cy.loclBGR</key>
    <string>iu-cy.loclB_G_R_.glif</string>
    <key>izhitsa-cy</key>
    <string>izhitsa-cy.glif</string>
    <key>kahook-cy</key>
    <string>kahook-cy.glif</string>
    <key>leftanglebracket-math</key>
    <string>leftanglebracket-math.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>pedescender-cy</key>
    <string>pedescender-cy.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>reversedze-cy</key>
    <string>reversedze-cy.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>schwa-cy</key>
    <string>schwa-cy.glif</string>
    <key>semisoftsign-cy</key>
    <string>semisoftsign-cy.glif</string>
    <key>shhadescender-cy</key>
    <string>shhadescender-cy.glif</string>
    <key>tail-cy.case</key>
    <string>tail-cy.case.glif</string>
    <key>tedescender-cy</key>
    <string>tedescender-cy.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>tshe-cy</key>
    <string>tshe-cy.glif</string>
    <key>ustraitstroke-cy</key>
    <string>ustraitstroke-cy.glif</string>
    <key>ve-cy.loclBGR</key>
    <string>ve-cy.loclB_G_R_.glif</string>
    <key>zhedescender-cy</key>
    <string>zhedescender-cy.glif</string>
  </dict>
</plist>
