<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>Cheabkhasian-cy</key>
    <string>C_heabkhasian-cy.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Endescender-cy</key>
    <string>E_ndescender-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Enghe-cy</key>
    <string>E_nghe-cy.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ezh</key>
    <string>E_zh.glif</string>
    <key>Gestrokehook-cy</key>
    <string>G_estrokehook-cy.glif</string>
    <key>Haabkhasian-cy</key>
    <string>H_aabkhasian-cy.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Izhitsa-cy</key>
    <string>I_zhitsa-cy.glif</string>
    <key>Kahook-cy</key>
    <string>K_ahook-cy.glif</string>
    <key>Kaverticalstroke-cy</key>
    <string>K_averticalstroke-cy.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>Ustraight-cy</key>
    <string>U_straight-cy.glif</string>
    <key>Yeru-cy</key>
    <string>Y_eru-cy.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Zedescender-cy.loclBSH</key>
    <string>Z_edescender-cy.loclB_S_H_.glif</string>
    <key>Zhedescender-cy</key>
    <string>Z_hedescender-cy.glif</string>
    <key>__descender-cy.case</key>
    <string>__descender-cy.case.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>be-cy.loclSRB</key>
    <string>be-cy.loclS_R_B_.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brevecomb_hookabovecomb</key>
    <string>brevecomb_hookabovecomb.glif</string>
    <key>brevecomb_hookabovecomb.case</key>
    <string>brevecomb_hookabovecomb.case.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>che-cy.loclBGR</key>
    <string>che-cy.loclB_G_R_.glif</string>
    <key>cheabkhasian-cy</key>
    <string>cheabkhasian-cy.glif</string>
    <key>chekhakassian-cy</key>
    <string>chekhakassian-cy.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>circumflexcomb.case.i</key>
    <string>circumflexcomb.case.i.glif</string>
    <key>circumflexcomb.i</key>
    <string>circumflexcomb.i.glif</string>
    <key>circumflexcomb_hookabovecomb</key>
    <string>circumflexcomb_hookabovecomb.glif</string>
    <key>circumflexcomb_hookabovecomb.case</key>
    <string>circumflexcomb_hookabovecomb.case.glif</string>
    <key>commercialMinusSign</key>
    <string>commercialM_inusS_ign.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dzeabkhasian-cy</key>
    <string>dzeabkhasian-cy.glif</string>
    <key>e-cy</key>
    <string>e-cy.glif</string>
    <key>eldescender-cy</key>
    <string>eldescender-cy.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>ezh</key>
    <string>ezh.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>ge-cy.loclBGR</key>
    <string>ge-cy.loclB_G_R_.glif</string>
    <key>gestrokehook-cy</key>
    <string>gestrokehook-cy.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>haabkhasian-cy</key>
    <string>haabkhasian-cy.glif</string>
    <key>hahook-cy</key>
    <string>hahook-cy.glif</string>
    <key>hastroke-cy</key>
    <string>hastroke-cy.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>iu-cy.loclBGR</key>
    <string>iu-cy.loclB_G_R_.glif</string>
    <key>izhitsa-cy</key>
    <string>izhitsa-cy.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>kahook-cy</key>
    <string>kahook-cy.glif</string>
    <key>kaverticalstroke-cy</key>
    <string>kaverticalstroke-cy.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>pedescender-cy</key>
    <string>pedescender-cy.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>reversedze-cy</key>
    <string>reversedze-cy.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>schwa-cy</key>
    <string>schwa-cy.glif</string>
    <key>semisoftsign-cy</key>
    <string>semisoftsign-cy.glif</string>
    <key>softsign-cy.loclBGR</key>
    <string>softsign-cy.loclB_G_R_.glif</string>
    <key>tail-cy</key>
    <string>tail-cy.glif</string>
    <key>tail-cy.case</key>
    <string>tail-cy.case.glif</string>
    <key>te-cy</key>
    <string>te-cy.glif</string>
    <key>tshe-cy</key>
    <string>tshe-cy.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni1C81</key>
    <string>uni1C_81.glif</string>
    <key>ustraightstroke-cy</key>
    <string>ustraightstroke-cy.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yusbig-cy</key>
    <string>yusbig-cy.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>zhe-cy.loclBGR</key>
    <string>zhe-cy.loclB_G_R_.glif</string>
    <key>zhedescender-cy</key>
    <string>zhedescender-cy.glif</string>
  </dict>
</plist>
