<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Bold [600]</string>
      <string>glyphs.B_old _600_</string>
    </array>
    <array>
      <string>Bold [600].background</string>
      <string>glyphs.B_old _600_.background</string>
    </array>
    <array>
      <string>old</string>
      <string>glyphs.old</string>
    </array>
    <array>
      <string>Dec 19 17, 23:32</string>
      <string>glyphs.D_ec 19 17, 23_32</string>
    </array>
    <array>
      <string>Dec 19 17, 23:32.background</string>
      <string>glyphs.D_ec 19 17, 23_32.background</string>
    </array>
    <array>
      <string>old.background</string>
      <string>glyphs.old.background</string>
    </array>
  </array>
</plist>
