<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Aacute.001</key>
	<string>A_acute.001.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Acute</key>
	<string>A_cute.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>Breve</key>
	<string>B_reve.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Caron</key>
	<string>C_aron.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Cedilla</key>
	<string>C_edilla.glif</string>
	<key>Circumflex</key>
	<string>C_ircumflex.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>Dieresis</key>
	<string>D_ieresis.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>Gcommaaccent</key>
	<string>G_commaaccent.glif</string>
	<key>Grave</key>
	<string>G_rave.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>K_commaaccent.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lcommaaccent</key>
	<string>L_commaaccent.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ncommaaccent</key>
	<string>N_commaaccent.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Rcommaaccent</key>
	<string>R_commaaccent.glif</string>
	<key>Ring</key>
	<string>R_ing.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>Scommaaccent</key>
	<string>S_commaaccent.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Tcommaaccent</key>
	<string>T_commaaccent.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>Tilde</key>
	<string>T_ilde.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a-deva</key>
	<string>a-deva.glif</string>
	<key>aCandra-deva</key>
	<string>aC_andra-deva.glif</string>
	<key>aa-deva</key>
	<string>aa-deva.glif</string>
	<key>aaMatra-deva</key>
	<string>aaM_atra-deva.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abbreviation-deva</key>
	<string>abbreviation-deva.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acute-deva</key>
	<string>acute-deva.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ai-deva</key>
	<string>ai-deva.glif</string>
	<key>aiMatra-deva</key>
	<string>aiM_atra-deva.glif</string>
	<key>aiMatra_anusvara-deva</key>
	<string>aiM_atra_anusvara-deva.glif</string>
	<key>aiMatra_reph-deva</key>
	<string>aiM_atra_reph-deva.glif</string>
	<key>aiMatra_reph_anusvara-deva</key>
	<string>aiM_atra_reph_anusvara-deva.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>anudatta-deva</key>
	<string>anudatta-deva.glif</string>
	<key>anusvara-deva</key>
	<string>anusvara-deva.glif</string>
	<key>anusvara-deva.001</key>
	<string>anusvara-deva.001.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>au-deva</key>
	<string>au-deva.glif</string>
	<key>auMatra-deva</key>
	<string>auM_atra-deva.glif</string>
	<key>auMatra_anusvara-deva</key>
	<string>auM_atra_anusvara-deva.glif</string>
	<key>auMatra_reph-deva</key>
	<string>auM_atra_reph-deva.glif</string>
	<key>auMatra_reph_anusvara-deva</key>
	<string>auM_atra_reph_anusvara-deva.glif</string>
	<key>avagraha-deva</key>
	<string>avagraha-deva.glif</string>
	<key>aw-deva</key>
	<string>aw-deva.glif</string>
	<key>awVowel-deva</key>
	<string>awV_owel-deva.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b-deva</key>
	<string>b-deva.glif</string>
	<key>b_ja-deva</key>
	<string>b_ja-deva.glif</string>
	<key>b_la-deva.loclMAR</key>
	<string>b_la-deva.loclM_A_R_.glif</string>
	<key>b_ra-deva</key>
	<string>b_ra-deva.glif</string>
	<key>ba-deva</key>
	<string>ba-deva.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bba-deva</key>
	<string>bba-deva.glif</string>
	<key>bh-deva</key>
	<string>bh-deva.glif</string>
	<key>bh_la-deva.loclMAR</key>
	<string>bh_la-deva.loclM_A_R_.glif</string>
	<key>bh_n-deva</key>
	<string>bh_n-deva.glif</string>
	<key>bh_r-deva</key>
	<string>bh_r-deva.glif</string>
	<key>bh_ra-deva</key>
	<string>bh_ra-deva.glif</string>
	<key>bha-deva</key>
	<string>bha-deva.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c-deva</key>
	<string>c-deva.glif</string>
	<key>c_ca-deva</key>
	<string>c_ca-deva.glif</string>
	<key>c_ca-deva.alt</key>
	<string>c_ca-deva.alt.glif</string>
	<key>c_ch_va-deva</key>
	<string>c_ch_va-deva.glif</string>
	<key>c_la-deva.loclMAR</key>
	<string>c_la-deva.loclM_A_R_.glif</string>
	<key>c_ra-deva</key>
	<string>c_ra-deva.glif</string>
	<key>ca-deva</key>
	<string>ca-deva.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>candraBindu-deva</key>
	<string>candraB_indu-deva.glif</string>
	<key>candraBindu-deva.imatra</key>
	<string>candraB_indu-deva.imatra.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caroncomb.alt</key>
	<string>caroncomb.alt.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>ch-deva</key>
	<string>ch-deva.glif</string>
	<key>ch_la-deva.loclMAR</key>
	<string>ch_la-deva.loclM_A_R_.glif</string>
	<key>ch_na-deva</key>
	<string>ch_na-deva.glif</string>
	<key>ch_va-deva</key>
	<string>ch_va-deva.glif</string>
	<key>cha-deva</key>
	<string>cha-deva.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d-deva</key>
	<string>d-deva.glif</string>
	<key>d_b_ra-deva</key>
	<string>d_b_ra-deva.glif</string>
	<key>d_ba-deva</key>
	<string>d_ba-deva.glif</string>
	<key>d_ba_uMatra-deva</key>
	<string>d_ba_uM_atra-deva.glif</string>
	<key>d_ba_uuMatra-deva</key>
	<string>d_ba_uuM_atra-deva.glif</string>
	<key>d_bh_ya-deva</key>
	<string>d_bh_ya-deva.glif</string>
	<key>d_bha-deva</key>
	<string>d_bha-deva.glif</string>
	<key>d_bha_uMatra-deva</key>
	<string>d_bha_uM_atra-deva.glif</string>
	<key>d_bha_uuMatra-deva</key>
	<string>d_bha_uuM_atra-deva.glif</string>
	<key>d_d_ya-deva</key>
	<string>d_d_ya-deva.glif</string>
	<key>d_da-deva</key>
	<string>d_da-deva.glif</string>
	<key>d_da_uMatra-deva</key>
	<string>d_da_uM_atra-deva.glif</string>
	<key>d_da_uuMatra-deva</key>
	<string>d_da_uuM_atra-deva.glif</string>
	<key>d_dh_r_ya-deva</key>
	<string>d_dh_r_ya-deva.glif</string>
	<key>d_dh_ya-deva</key>
	<string>d_dh_ya-deva.glif</string>
	<key>d_dha-deva</key>
	<string>d_dha-deva.glif</string>
	<key>d_dha_uMatra-deva</key>
	<string>d_dha_uM_atra-deva.glif</string>
	<key>d_dha_uuMatra-deva</key>
	<string>d_dha_uuM_atra-deva.glif</string>
	<key>d_g_ra-deva</key>
	<string>d_g_ra-deva.glif</string>
	<key>d_ga-deva</key>
	<string>d_ga-deva.glif</string>
	<key>d_ga_uMatra-deva</key>
	<string>d_ga_uM_atra-deva.glif</string>
	<key>d_ga_uuMatra-deva</key>
	<string>d_ga_uuM_atra-deva.glif</string>
	<key>d_gh_ya-deva</key>
	<string>d_gh_ya-deva.glif</string>
	<key>d_gha-deva</key>
	<string>d_gha-deva.glif</string>
	<key>d_gha_uMatra-deva</key>
	<string>d_gha_uM_atra-deva.glif</string>
	<key>d_gha_uuMatra-deva</key>
	<string>d_gha_uuM_atra-deva.glif</string>
	<key>d_ma-deva</key>
	<string>d_ma-deva.glif</string>
	<key>d_na-deva</key>
	<string>d_na-deva.glif</string>
	<key>d_na_uMatra-deva</key>
	<string>d_na_uM_atra-deva.glif</string>
	<key>d_na_uuMatra-deva</key>
	<string>d_na_uuM_atra-deva.glif</string>
	<key>d_rVocalicMatra-deva</key>
	<string>d_rV_ocalicM_atra-deva.glif</string>
	<key>d_r_ya-deva</key>
	<string>d_r_ya-deva.glif</string>
	<key>d_ra-deva</key>
	<string>d_ra-deva.glif</string>
	<key>d_ra_uMatra-deva</key>
	<string>d_ra_uM_atra-deva.glif</string>
	<key>d_ra_uuMatra-deva</key>
	<string>d_ra_uuM_atra-deva.glif</string>
	<key>d_v_ya-deva</key>
	<string>d_v_ya-deva.glif</string>
	<key>d_va-deva</key>
	<string>d_va-deva.glif</string>
	<key>d_va_uMatra-deva</key>
	<string>d_va_uM_atra-deva.glif</string>
	<key>d_va_uuMatra-deva</key>
	<string>d_va_uuM_atra-deva.glif</string>
	<key>d_ya-deva</key>
	<string>d_ya-deva.glif</string>
	<key>da-deva</key>
	<string>da-deva.glif</string>
	<key>da_uMatra-deva</key>
	<string>da_uM_atra-deva.glif</string>
	<key>da_uuMatra-deva</key>
	<string>da_uuM_atra-deva.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>danda-deva</key>
	<string>danda-deva.glif</string>
	<key>dbldanda-deva</key>
	<string>dbldanda-deva.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>dd-deva</key>
	<string>dd-deva.glif</string>
	<key>dd_dd_ya-deva</key>
	<string>dd_dd_ya-deva.glif</string>
	<key>dd_dda-deva</key>
	<string>dd_dda-deva.glif</string>
	<key>dd_ddha-deva</key>
	<string>dd_ddha-deva.glif</string>
	<key>dd_gha-deva</key>
	<string>dd_gha-deva.glif</string>
	<key>dd_ma-deva</key>
	<string>dd_ma-deva.glif</string>
	<key>dd_na-deva</key>
	<string>dd_na-deva.glif</string>
	<key>dd_tta-deva</key>
	<string>dd_tta-deva.glif</string>
	<key>dd_ya-deva</key>
	<string>dd_ya-deva.glif</string>
	<key>dda-deva</key>
	<string>dda-deva.glif</string>
	<key>ddda-deva</key>
	<string>ddda-deva.glif</string>
	<key>dddha-deva</key>
	<string>dddha-deva.glif</string>
	<key>ddh-deva</key>
	<string>ddh-deva.glif</string>
	<key>ddh_ddh_ya-deva</key>
	<string>ddh_ddh_ya-deva.glif</string>
	<key>ddh_ddha-deva</key>
	<string>ddh_ddha-deva.glif</string>
	<key>ddh_na-deva</key>
	<string>ddh_na-deva.glif</string>
	<key>ddh_ya-deva</key>
	<string>ddh_ya-deva.glif</string>
	<key>ddha-deva</key>
	<string>ddha-deva.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>deva_knot</key>
	<string>deva_knot.glif</string>
	<key>dh-deva</key>
	<string>dh-deva.glif</string>
	<key>dh_r-deva</key>
	<string>dh_r-deva.glif</string>
	<key>dh_ra-deva</key>
	<string>dh_ra-deva.glif</string>
	<key>dha-deva</key>
	<string>dha-deva.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dottedCircle</key>
	<string>dottedC_ircle.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e-deva</key>
	<string>e-deva.glif</string>
	<key>eCandra-deva</key>
	<string>eC_andra-deva.glif</string>
	<key>eCandraMatra-deva</key>
	<string>eC_andraM_atra-deva.glif</string>
	<key>eMatra-deva</key>
	<string>eM_atra-deva.glif</string>
	<key>eMatra_anusvara-deva</key>
	<string>eM_atra_anusvara-deva.glif</string>
	<key>eMatra_reph-deva</key>
	<string>eM_atra_reph-deva.glif</string>
	<key>eMatra_reph_anusvara-deva</key>
	<string>eM_atra_reph_anusvara-deva.glif</string>
	<key>eShort-deva</key>
	<string>eS_hort-deva.glif</string>
	<key>eShortMatra-deva</key>
	<string>eS_hortM_atra-deva.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight-deva</key>
	<string>eight-deva.glif</string>
	<key>eight-deva.loclNEP</key>
	<string>eight-deva.loclN_E_P_.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f-deva</key>
	<string>f-deva.glif</string>
	<key>f_ra-deva</key>
	<string>f_ra-deva.glif</string>
	<key>fa-deva</key>
	<string>fa-deva.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five-deva</key>
	<string>five-deva.glif</string>
	<key>five-deva.loclNEP</key>
	<string>five-deva.loclN_E_P_.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>foundry</key>
	<string>foundry.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four-deva</key>
	<string>four-deva.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g-deva</key>
	<string>g-deva.glif</string>
	<key>g_la-deva.loclMAR</key>
	<string>g_la-deva.loclM_A_R_.glif</string>
	<key>g_n-deva</key>
	<string>g_n-deva.glif</string>
	<key>g_n_ya-deva</key>
	<string>g_n_ya-deva.glif</string>
	<key>g_na-deva</key>
	<string>g_na-deva.glif</string>
	<key>g_r-deva</key>
	<string>g_r-deva.glif</string>
	<key>g_r_ya-deva</key>
	<string>g_r_ya-deva.glif</string>
	<key>g_ra-deva</key>
	<string>g_ra-deva.glif</string>
	<key>ga-deva</key>
	<string>ga-deva.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>gga-deva</key>
	<string>gga-deva.glif</string>
	<key>gh-deva</key>
	<string>gh-deva.glif</string>
	<key>gh_la-deva.loclMAR</key>
	<string>gh_la-deva.loclM_A_R_.glif</string>
	<key>gh_na-deva</key>
	<string>gh_na-deva.glif</string>
	<key>gh_r-deva</key>
	<string>gh_r-deva.glif</string>
	<key>gh_ra-deva</key>
	<string>gh_ra-deva.glif</string>
	<key>gha-deva</key>
	<string>gha-deva.glif</string>
	<key>ghh-deva</key>
	<string>ghh-deva.glif</string>
	<key>ghha-deva</key>
	<string>ghha-deva.glif</string>
	<key>glottalstop-deva</key>
	<string>glottalstop-deva.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>grave-deva</key>
	<string>grave-deva.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h-deva</key>
	<string>h-deva.glif</string>
	<key>h_la-deva</key>
	<string>h_la-deva.glif</string>
	<key>h_ma-deva</key>
	<string>h_ma-deva.glif</string>
	<key>h_na-deva</key>
	<string>h_na-deva.glif</string>
	<key>h_nna-deva</key>
	<string>h_nna-deva.glif</string>
	<key>h_ra-deva</key>
	<string>h_ra-deva.glif</string>
	<key>h_va-deva</key>
	<string>h_va-deva.glif</string>
	<key>h_ya-deva</key>
	<string>h_ya-deva.glif</string>
	<key>ha-deva</key>
	<string>ha-deva.glif</string>
	<key>ha_rVocalicMatra-deva</key>
	<string>ha_rV_ocalicM_atra-deva.glif</string>
	<key>ha_uMatra-deva</key>
	<string>ha_uM_atra-deva.glif</string>
	<key>ha_uuMatra-deva</key>
	<string>ha_uuM_atra-deva.glif</string>
	<key>halant-deva</key>
	<string>halant-deva.glif</string>
	<key>headline-deva</key>
	<string>headline-deva.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlaut.case</key>
	<string>hungarumlaut.case.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i-deva</key>
	<string>i-deva.glif</string>
	<key>iMatra-deva</key>
	<string>iM_atra-deva.glif</string>
	<key>iMatra-deva.0</key>
	<string>iM_atra-deva.0.glif</string>
	<key>iMatra-deva.01</key>
	<string>iM_atra-deva.01.glif</string>
	<key>iMatra-deva.02</key>
	<string>iM_atra-deva.02.glif</string>
	<key>iMatra-deva.03</key>
	<string>iM_atra-deva.03.glif</string>
	<key>iMatra-deva.05</key>
	<string>iM_atra-deva.05.glif</string>
	<key>iMatra-deva.08</key>
	<string>iM_atra-deva.08.glif</string>
	<key>iMatra-deva.10</key>
	<string>iM_atra-deva.10.glif</string>
	<key>iMatra-deva.15</key>
	<string>iM_atra-deva.15.glif</string>
	<key>iMatra-deva.20</key>
	<string>iM_atra-deva.20.glif</string>
	<key>iMatra-deva.25</key>
	<string>iM_atra-deva.25.glif</string>
	<key>iMatra-deva.30</key>
	<string>iM_atra-deva.30.glif</string>
	<key>iMatra_reph-deva</key>
	<string>iM_atra_reph-deva.glif</string>
	<key>iMatra_reph-deva.0</key>
	<string>iM_atra_reph-deva.0.glif</string>
	<key>iMatra_reph-deva.01</key>
	<string>iM_atra_reph-deva.01.glif</string>
	<key>iMatra_reph-deva.02</key>
	<string>iM_atra_reph-deva.02.glif</string>
	<key>iMatra_reph-deva.03</key>
	<string>iM_atra_reph-deva.03.glif</string>
	<key>iMatra_reph-deva.05</key>
	<string>iM_atra_reph-deva.05.glif</string>
	<key>iMatra_reph-deva.08</key>
	<string>iM_atra_reph-deva.08.glif</string>
	<key>iMatra_reph-deva.10</key>
	<string>iM_atra_reph-deva.10.glif</string>
	<key>iMatra_reph-deva.15</key>
	<string>iM_atra_reph-deva.15.glif</string>
	<key>iMatra_reph-deva.20</key>
	<string>iM_atra_reph-deva.20.glif</string>
	<key>iMatra_reph-deva.25</key>
	<string>iM_atra_reph-deva.25.glif</string>
	<key>iMatra_reph-deva.30</key>
	<string>iM_atra_reph-deva.30.glif</string>
	<key>iMatra_reph_anusvara-deva</key>
	<string>iM_atra_reph_anusvara-deva.glif</string>
	<key>iMatra_reph_anusvara-deva.0</key>
	<string>iM_atra_reph_anusvara-deva.0.glif</string>
	<key>iMatra_reph_anusvara-deva.01</key>
	<string>iM_atra_reph_anusvara-deva.01.glif</string>
	<key>iMatra_reph_anusvara-deva.02</key>
	<string>iM_atra_reph_anusvara-deva.02.glif</string>
	<key>iMatra_reph_anusvara-deva.03</key>
	<string>iM_atra_reph_anusvara-deva.03.glif</string>
	<key>iMatra_reph_anusvara-deva.05</key>
	<string>iM_atra_reph_anusvara-deva.05.glif</string>
	<key>iMatra_reph_anusvara-deva.08</key>
	<string>iM_atra_reph_anusvara-deva.08.glif</string>
	<key>iMatra_reph_anusvara-deva.10</key>
	<string>iM_atra_reph_anusvara-deva.10.glif</string>
	<key>iMatra_reph_anusvara-deva.15</key>
	<string>iM_atra_reph_anusvara-deva.15.glif</string>
	<key>iMatra_reph_anusvara-deva.20</key>
	<string>iM_atra_reph_anusvara-deva.20.glif</string>
	<key>iMatra_reph_anusvara-deva.25</key>
	<string>iM_atra_reph_anusvara-deva.25.glif</string>
	<key>iMatra_reph_anusvara-deva.30</key>
	<string>iM_atra_reph_anusvara-deva.30.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ii-deva</key>
	<string>ii-deva.glif</string>
	<key>iiMatra-deva</key>
	<string>iiM_atra-deva.glif</string>
	<key>iiMatra-deva.02</key>
	<string>iiM_atra-deva.02.glif</string>
	<key>iiMatra_reph-deva</key>
	<string>iiM_atra_reph-deva.glif</string>
	<key>iiMatra_reph-deva.02</key>
	<string>iiM_atra_reph-deva.02.glif</string>
	<key>iiMatra_reph_anusvara-deva</key>
	<string>iiM_atra_reph_anusvara-deva.glif</string>
	<key>iiMatra_reph_anusvara-deva.02</key>
	<string>iiM_atra_reph_anusvara-deva.02.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j-deva</key>
	<string>j-deva.glif</string>
	<key>j_j-deva.alt</key>
	<string>j_j-deva.alt.glif</string>
	<key>j_ja-deva.alt</key>
	<string>j_ja-deva.alt.glif</string>
	<key>j_ny-deva</key>
	<string>j_ny-deva.glif</string>
	<key>j_ny_ra-deva</key>
	<string>j_ny_ra-deva.glif</string>
	<key>j_nya-deva</key>
	<string>j_nya-deva.glif</string>
	<key>j_r-deva</key>
	<string>j_r-deva.glif</string>
	<key>j_ra-deva</key>
	<string>j_ra-deva.glif</string>
	<key>ja-deva</key>
	<string>ja-deva.glif</string>
	<key>jh-deva</key>
	<string>jh-deva.glif</string>
	<key>jh-deva.loclNEP</key>
	<string>jh-deva.loclN_E_P_.glif</string>
	<key>jh_ra-deva</key>
	<string>jh_ra-deva.glif</string>
	<key>jha-deva</key>
	<string>jha-deva.glif</string>
	<key>jha-deva.loclNEP</key>
	<string>jha-deva.loclN_E_P_.glif</string>
	<key>jha_uMatra-deva</key>
	<string>jha_uM_atra-deva.glif</string>
	<key>jja-deva</key>
	<string>jja-deva.glif</string>
	<key>jjya-deva</key>
	<string>jjya-deva.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k-deva</key>
	<string>k-deva.glif</string>
	<key>k_ka-deva</key>
	<string>k_ka-deva.glif</string>
	<key>k_la-deva.loclMAR</key>
	<string>k_la-deva.loclM_A_R_.glif</string>
	<key>k_ra-deva</key>
	<string>k_ra-deva.glif</string>
	<key>k_ra-deva.alt</key>
	<string>k_ra-deva.alt.glif</string>
	<key>k_ra-deva.loclNEP</key>
	<string>k_ra-deva.loclN_E_P_.glif</string>
	<key>k_ss-deva</key>
	<string>k_ss-deva.glif</string>
	<key>k_ss_ma-deva</key>
	<string>k_ss_ma-deva.glif</string>
	<key>k_ss_ra-deva</key>
	<string>k_ss_ra-deva.glif</string>
	<key>k_ss_ya-deva</key>
	<string>k_ss_ya-deva.glif</string>
	<key>k_ssa-deva</key>
	<string>k_ssa-deva.glif</string>
	<key>k_t_ta-deva</key>
	<string>k_t_ta-deva.glif</string>
	<key>k_va-deva</key>
	<string>k_va-deva.glif</string>
	<key>ka-deva</key>
	<string>ka-deva.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>kh-deva</key>
	<string>kh-deva.glif</string>
	<key>kh_la-deva.loclMAR</key>
	<string>kh_la-deva.loclM_A_R_.glif</string>
	<key>kh_na-deva</key>
	<string>kh_na-deva.glif</string>
	<key>kh_ra-deva</key>
	<string>kh_ra-deva.glif</string>
	<key>kha-deva</key>
	<string>kha-deva.glif</string>
	<key>khh-deva</key>
	<string>khh-deva.glif</string>
	<key>khha-deva</key>
	<string>khha-deva.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l-deva</key>
	<string>l-deva.glif</string>
	<key>lVocalic-deva</key>
	<string>lV_ocalic-deva.glif</string>
	<key>lVocalicMatra-deva</key>
	<string>lV_ocalicM_atra-deva.glif</string>
	<key>l_la-deva.loclMAR</key>
	<string>l_la-deva.loclM_A_R_.glif</string>
	<key>l_ra-deva</key>
	<string>l_ra-deva.glif</string>
	<key>la-deva</key>
	<string>la-deva.glif</string>
	<key>la-deva.loclMAR</key>
	<string>la-deva.loclM_A_R_.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>ll-deva</key>
	<string>ll-deva.glif</string>
	<key>llVocalic-deva</key>
	<string>llV_ocalic-deva.glif</string>
	<key>llVocalicMatra-deva</key>
	<string>llV_ocalicM_atra-deva.glif</string>
	<key>lla-deva</key>
	<string>lla-deva.glif</string>
	<key>lll-deva</key>
	<string>lll-deva.glif</string>
	<key>llla-deva</key>
	<string>llla-deva.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m-deva</key>
	<string>m-deva.glif</string>
	<key>m_la-deva.loclMAR</key>
	<string>m_la-deva.loclM_A_R_.glif</string>
	<key>m_n-deva</key>
	<string>m_n-deva.glif</string>
	<key>m_r-deva</key>
	<string>m_r-deva.glif</string>
	<key>m_ra-deva</key>
	<string>m_ra-deva.glif</string>
	<key>ma-deva</key>
	<string>ma-deva.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n-deva</key>
	<string>n-deva.glif</string>
	<key>n_bha-deva</key>
	<string>n_bha-deva.glif</string>
	<key>n_ma-deva</key>
	<string>n_ma-deva.glif</string>
	<key>n_n-deva</key>
	<string>n_n-deva.glif</string>
	<key>n_n_ya-deva</key>
	<string>n_n_ya-deva.glif</string>
	<key>n_na-deva</key>
	<string>n_na-deva.glif</string>
	<key>n_ra-deva</key>
	<string>n_ra-deva.glif</string>
	<key>na-deva</key>
	<string>na-deva.glif</string>
	<key>na-deva.post2</key>
	<string>na-deva.post2.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>ng-deva</key>
	<string>ng-deva.glif</string>
	<key>ng_g_ra-deva</key>
	<string>ng_g_ra-deva.glif</string>
	<key>ng_ga-deva</key>
	<string>ng_ga-deva.glif</string>
	<key>ng_gh_ra-deva</key>
	<string>ng_gh_ra-deva.glif</string>
	<key>ng_gha-deva</key>
	<string>ng_gha-deva.glif</string>
	<key>ng_k-deva</key>
	<string>ng_k-deva.glif</string>
	<key>ng_k_ra-deva</key>
	<string>ng_k_ra-deva.glif</string>
	<key>ng_k_ssa-deva</key>
	<string>ng_k_ssa-deva.glif</string>
	<key>ng_k_t_ta-deva</key>
	<string>ng_k_t_ta-deva.glif</string>
	<key>ng_ka-deva</key>
	<string>ng_ka-deva.glif</string>
	<key>ng_kha-deva</key>
	<string>ng_kha-deva.glif</string>
	<key>ng_ma-deva</key>
	<string>ng_ma-deva.glif</string>
	<key>nga-deva</key>
	<string>nga-deva.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine-deva</key>
	<string>nine-deva.glif</string>
	<key>nn-deva</key>
	<string>nn-deva.glif</string>
	<key>nn_ra-deva</key>
	<string>nn_ra-deva.glif</string>
	<key>nna-deva</key>
	<string>nna-deva.glif</string>
	<key>nnn-deva</key>
	<string>nnn-deva.glif</string>
	<key>nnna-deva</key>
	<string>nnna-deva.glif</string>
	<key>noBreak</key>
	<string>noB_reak.glif</string>
	<key>nonmarkingreturn</key>
	<string>nonmarkingreturn.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>nukta-deva</key>
	<string>nukta-deva.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>ny-deva</key>
	<string>ny-deva.glif</string>
	<key>ny_ca-deva</key>
	<string>ny_ca-deva.glif</string>
	<key>ny_ja-deva</key>
	<string>ny_ja-deva.glif</string>
	<key>ny_ra-deva</key>
	<string>ny_ra-deva.glif</string>
	<key>nya-deva</key>
	<string>nya-deva.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o-deva</key>
	<string>o-deva.glif</string>
	<key>oCandra-deva</key>
	<string>oC_andra-deva.glif</string>
	<key>oCandraMatra-deva</key>
	<string>oC_andraM_atra-deva.glif</string>
	<key>oMatra-deva</key>
	<string>oM_atra-deva.glif</string>
	<key>oMatra_anusvara-deva</key>
	<string>oM_atra_anusvara-deva.glif</string>
	<key>oMatra_reph-deva</key>
	<string>oM_atra_reph-deva.glif</string>
	<key>oMatra_reph_anusvara-deva</key>
	<string>oM_atra_reph_anusvara-deva.glif</string>
	<key>oShort-deva</key>
	<string>oS_hort-deva.glif</string>
	<key>oShortMatra-deva</key>
	<string>oS_hortM_atra-deva.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>oe-deva</key>
	<string>oe-deva.glif</string>
	<key>oeMatra-deva</key>
	<string>oeM_atra-deva.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>om-deva</key>
	<string>om-deva.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one-deva</key>
	<string>one-deva.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ooe-deva</key>
	<string>ooe-deva.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p-deva</key>
	<string>p-deva.glif</string>
	<key>p_jha-deva</key>
	<string>p_jha-deva.glif</string>
	<key>p_la-deva.loclMAR</key>
	<string>p_la-deva.loclM_A_R_.glif</string>
	<key>p_ra-deva</key>
	<string>p_ra-deva.glif</string>
	<key>p_ta-deva</key>
	<string>p_ta-deva.glif</string>
	<key>p_tta-deva</key>
	<string>p_tta-deva.glif</string>
	<key>pa-deva</key>
	<string>pa-deva.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>ph-deva</key>
	<string>ph-deva.glif</string>
	<key>ph_la-deva.loclMAR</key>
	<string>ph_la-deva.loclM_A_R_.glif</string>
	<key>ph_ra-deva</key>
	<string>ph_ra-deva.glif</string>
	<key>pha-deva</key>
	<string>pha-deva.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>prishthaMatraE-deva</key>
	<string>prishthaM_atraE_-deva.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q-deva</key>
	<string>q-deva.glif</string>
	<key>qa-deva</key>
	<string>qa-deva.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>rVocalic-deva</key>
	<string>rV_ocalic-deva.glif</string>
	<key>rVocalicMatra-deva</key>
	<string>rV_ocalicM_atra-deva.glif</string>
	<key>ra-deva</key>
	<string>ra-deva.glif</string>
	<key>ra-deva.post2</key>
	<string>ra-deva.post2.glif</string>
	<key>ra_uMatra-deva</key>
	<string>ra_uM_atra-deva.glif</string>
	<key>ra_uuMatra-deva</key>
	<string>ra_uuM_atra-deva.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rakar-deva</key>
	<string>rakar-deva.glif</string>
	<key>rakar_uMatra-deva</key>
	<string>rakar_uM_atra-deva.glif</string>
	<key>rakar_uuMatra-deva</key>
	<string>rakar_uuM_atra-deva.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>reph-deva</key>
	<string>reph-deva.glif</string>
	<key>reph-deva.imatra</key>
	<string>reph-deva.imatra.glif</string>
	<key>reph-deva.loclMAR</key>
	<string>reph-deva.loclM_A_R_.glif</string>
	<key>reph_anusvara-deva</key>
	<string>reph_anusvara-deva.glif</string>
	<key>reph_anusvara-deva.imatra</key>
	<string>reph_anusvara-deva.imatra.glif</string>
	<key>rha-deva</key>
	<string>rha-deva.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>rr-deva</key>
	<string>rr-deva.glif</string>
	<key>rrVocalic-deva</key>
	<string>rrV_ocalic-deva.glif</string>
	<key>rrVocalicMatra-deva</key>
	<string>rrV_ocalicM_atra-deva.glif</string>
	<key>rr_ha-deva</key>
	<string>rr_ha-deva.glif</string>
	<key>rr_ya-deva</key>
	<string>rr_ya-deva.glif</string>
	<key>rra-deva</key>
	<string>rra-deva.glif</string>
	<key>rupeesign</key>
	<string>rupeesign.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s-deva</key>
	<string>s-deva.glif</string>
	<key>s_ra-deva</key>
	<string>s_ra-deva.glif</string>
	<key>s_t_ra-deva</key>
	<string>s_t_ra-deva.glif</string>
	<key>s_tha-deva</key>
	<string>s_tha-deva.glif</string>
	<key>sa-deva</key>
	<string>sa-deva.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven-deva</key>
	<string>seven-deva.glif</string>
	<key>sh-deva</key>
	<string>sh-deva.glif</string>
	<key>sh-deva.loclMAR</key>
	<string>sh-deva.loclM_A_R_.glif</string>
	<key>sh-deva.ss02</key>
	<string>sh-deva.ss02.glif</string>
	<key>sh_ca-deva</key>
	<string>sh_ca-deva.glif</string>
	<key>sh_la-deva.loclMAR</key>
	<string>sh_la-deva.loclM_A_R_.glif</string>
	<key>sh_na-deva</key>
	<string>sh_na-deva.glif</string>
	<key>sh_r-deva</key>
	<string>sh_r-deva.glif</string>
	<key>sh_r_ya-deva</key>
	<string>sh_r_ya-deva.glif</string>
	<key>sh_ra-deva</key>
	<string>sh_ra-deva.glif</string>
	<key>sh_va-deva</key>
	<string>sh_va-deva.glif</string>
	<key>sha-deva</key>
	<string>sha-deva.glif</string>
	<key>sha-deva.loclMAR</key>
	<string>sha-deva.loclM_A_R_.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six-deva</key>
	<string>six-deva.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>space.001</key>
	<string>space.001.glif</string>
	<key>space.deva</key>
	<string>space.deva.glif</string>
	<key>ss-deva</key>
	<string>ss-deva.glif</string>
	<key>ss_ra-deva</key>
	<string>ss_ra-deva.glif</string>
	<key>ss_tt_va-deva</key>
	<string>ss_tt_va-deva.glif</string>
	<key>ss_tt_ya-deva</key>
	<string>ss_tt_ya-deva.glif</string>
	<key>ss_tta-deva</key>
	<string>ss_tta-deva.glif</string>
	<key>ss_tth_va-deva</key>
	<string>ss_tth_va-deva.glif</string>
	<key>ss_tth_ya-deva</key>
	<string>ss_tth_ya-deva.glif</string>
	<key>ss_ttha-deva</key>
	<string>ss_ttha-deva.glif</string>
	<key>ssa-deva</key>
	<string>ssa-deva.glif</string>
	<key>stem-deva</key>
	<string>stem-deva.glif</string>
	<key>stem-short-deva</key>
	<string>stem-short-deva.glif</string>
	<key>stem-tiny-deva</key>
	<string>stem-tiny-deva.glif</string>
	<key>stem_deva_conj</key>
	<string>stem_deva_conj.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t-deva</key>
	<string>t-deva.glif</string>
	<key>t_r-deva</key>
	<string>t_r-deva.glif</string>
	<key>t_r_ya-deva</key>
	<string>t_r_ya-deva.glif</string>
	<key>t_r_ya-deva.alt</key>
	<string>t_r_ya-deva.alt.glif</string>
	<key>t_ra-deva</key>
	<string>t_ra-deva.glif</string>
	<key>t_ra-deva.alt</key>
	<string>t_ra-deva.alt.glif</string>
	<key>t_t-deva</key>
	<string>t_t-deva.glif</string>
	<key>t_ta-deva</key>
	<string>t_ta-deva.glif</string>
	<key>ta-deva</key>
	<string>ta-deva.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>th-deva</key>
	<string>th-deva.glif</string>
	<key>th_ra-deva</key>
	<string>th_ra-deva.glif</string>
	<key>tha-deva</key>
	<string>tha-deva.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three-deva</key>
	<string>three-deva.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>tt-deva</key>
	<string>tt-deva.glif</string>
	<key>tt_ddha-deva</key>
	<string>tt_ddha-deva.glif</string>
	<key>tt_na-deva</key>
	<string>tt_na-deva.glif</string>
	<key>tt_tt_ya-deva</key>
	<string>tt_tt_ya-deva.glif</string>
	<key>tt_tta-deva</key>
	<string>tt_tta-deva.glif</string>
	<key>tt_ttha-deva</key>
	<string>tt_ttha-deva.glif</string>
	<key>tt_va-deva</key>
	<string>tt_va-deva.glif</string>
	<key>tt_ya-deva</key>
	<string>tt_ya-deva.glif</string>
	<key>tta-deva</key>
	<string>tta-deva.glif</string>
	<key>tth-deva</key>
	<string>tth-deva.glif</string>
	<key>tth_na-deva</key>
	<string>tth_na-deva.glif</string>
	<key>tth_tth_ya-deva</key>
	<string>tth_tth_ya-deva.glif</string>
	<key>tth_ttha-deva</key>
	<string>tth_ttha-deva.glif</string>
	<key>tth_ya-deva</key>
	<string>tth_ya-deva.glif</string>
	<key>ttha-deva</key>
	<string>ttha-deva.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two-deva</key>
	<string>two-deva.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u-deva</key>
	<string>u-deva.glif</string>
	<key>uMatra-deva</key>
	<string>uM_atra-deva.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udatta-deva</key>
	<string>udatta-deva.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ue-deva</key>
	<string>ue-deva.glif</string>
	<key>ueMatra-deva</key>
	<string>ueM_atra-deva.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00AD</key>
	<string>uni00A_D_.glif</string>
	<key>uni00B5</key>
	<string>uni00B_5.glif</string>
	<key>uni02C9</key>
	<string>uni02C_9.glif</string>
	<key>uni093B</key>
	<string>uni093B_.glif</string>
	<key>uni2074</key>
	<string>uni2074.glif</string>
	<key>uni20BA</key>
	<string>uni20B_A_.glif</string>
	<key>uni20BD</key>
	<string>uni20B_D_.glif</string>
	<key>uni2113</key>
	<string>uni2113.glif</string>
	<key>uni2116</key>
	<string>uni2116.glif</string>
	<key>uni2126</key>
	<string>uni2126.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>uni2215</key>
	<string>uni2215.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>uu-deva</key>
	<string>uu-deva.glif</string>
	<key>uuMatra-deva</key>
	<string>uuM_atra-deva.glif</string>
	<key>uue-deva</key>
	<string>uue-deva.glif</string>
	<key>uueMatra-deva</key>
	<string>uueM_atra-deva.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v-deva</key>
	<string>v-deva.glif</string>
	<key>v_ha-deva</key>
	<string>v_ha-deva.glif</string>
	<key>v_la-deva.loclMAR</key>
	<string>v_la-deva.loclM_A_R_.glif</string>
	<key>v_n-deva</key>
	<string>v_n-deva.glif</string>
	<key>v_r-deva</key>
	<string>v_r-deva.glif</string>
	<key>v_ra-deva</key>
	<string>v_ra-deva.glif</string>
	<key>va-deva</key>
	<string>va-deva.glif</string>
	<key>va-deva.post</key>
	<string>va-deva.post.glif</string>
	<key>visarga-deva</key>
	<string>visarga-deva.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y-deva</key>
	<string>y-deva.glif</string>
	<key>y_n-deva</key>
	<string>y_n-deva.glif</string>
	<key>y_r-deva</key>
	<string>y_r-deva.glif</string>
	<key>y_ra-deva</key>
	<string>y_ra-deva.glif</string>
	<key>ya-deva</key>
	<string>ya-deva.glif</string>
	<key>ya-deva.post</key>
	<string>ya-deva.post.glif</string>
	<key>ya-deva2.post</key>
	<string>ya-deva2.post.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yya-deva</key>
	<string>yya-deva.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z-deva</key>
	<string>z-deva.glif</string>
	<key>za-deva</key>
	<string>za-deva.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero-deva</key>
	<string>zero-deva.glif</string>
	<key>zha-deva</key>
	<string>zha-deva.glif</string>
	<key>zha-deva.loclNEP</key>
	<string>zha-deva.loclN_E_P_.glif</string>
</dict>
</plist>
