<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_45</key>
	<array>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
	</array>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_dda-deva</key>
	<array>
		<string>ha-deva</string>
		<string>ii-deva</string>
		<string>rrVocalic-deva</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_guilsinglleft</key>
	<array>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_L_guilsinglright</key>
	<array>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>@MMK_L_ka-deva</key>
	<array>
		<string>pha-deva</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>l</string>
		<string>lslash</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_pa-deva</key>
	<array>
		<string>dha-deva</string>
		<string>bha-deva</string>
		<string>e-deva</string>
		<string>ai-deva</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>K</string>
		<string>L</string>
		<string>Lslash</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_b</key>
	<array>
		<string>b</string>
		<string>thorn</string>
	</array>
	<key>@MMK_R_bha-deva</key>
	<array>
		<string>bha-deva</string>
	</array>
	<key>@MMK_R_d</key>
	<array>
		<string>d</string>
		<string>q</string>
	</array>
	<key>@MMK_R_dda-deva</key>
	<array>
		<string>ii-deva</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_R_gha-deva</key>
	<array>
		<string>dha-deva</string>
	</array>
	<key>@MMK_R_guilsinglleft</key>
	<array>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guilsinglright</key>
	<array>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>h</string>
		<string>k</string>
	</array>
	<key>@MMK_R_ha-deva</key>
	<array>
		<string>ha-deva</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>@MMK_R_iMatra</key>
	<array>
		<string>iMatra-deva</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>l</string>
		<string>lslash</string>
	</array>
	<key>@MMK_R_la-deva</key>
	<array>
		<string>lVocalic-deva</string>
		<string>llVocalic-deva</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>r</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
	</array>
	<key>@MMK_R_pa-deva</key>
	<array>
		<string>pha-deva</string>
		<string>e-deva</string>
		<string>ai-deva</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>@MMK_R_ta-deva</key>
	<array>
		<string>rrVocalic-deva</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
	</array>
</dict>
</plist>
