<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_d_ra_uMatra-deva</key>
	<dict>
		<key>@MMK_R_da-deva</key>
		<real>-4.882810115814209</real>
		<key>@MMK_R_pa-deva</key>
		<real>-9.765620231628418</real>
		<key>d_da_uuMatra-deva</key>
		<real>-43.945301055908203</real>
	</dict>
	<key>@MMK_L_d_ra_uuMatra-deva</key>
	<dict>
		<key>@MMK_R_ca-deva</key>
		<real>-14.64840030670166</real>
		<key>@MMK_R_da-deva</key>
		<real>-4.882810115814209</real>
		<key>@MMK_R_ga-deva</key>
		<real>-48.828098297119141</real>
		<key>@MMK_R_gha-deva</key>
		<integer>0</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>0</integer>
		<key>@MMK_R_ra-deva</key>
		<integer>0</integer>
		<key>@MMK_R_tta-deva</key>
		<integer>0</integer>
		<key>d_da_uMatra-deva</key>
		<real>-53.710899353027344</real>
		<key>d_na_uMatra-deva</key>
		<real>-58.593799591064453</real>
		<key>d_va_uMatra-deva</key>
		<real>24.414100646972656</real>
	</dict>
	<key>@MMK_L_dda-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-48.828098297119141</real>
		<key>@MMK_R_dda-deva</key>
		<real>-29.296899795532227</real>
		<key>@MMK_R_gha-deva</key>
		<real>-24.414100646972656</real>
		<key>@MMK_R_tta-deva</key>
		<real>-34.179698944091797</real>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_g-deva</key>
	<dict>
		<key>@MMK_R_gha-deva</key>
		<real>9.765620231628418</real>
	</dict>
	<key>@MMK_L_gh-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-92.773399353027344</real>
		<key>@MMK_R_ca-deva</key>
		<real>-73.242202758789062</real>
		<key>@MMK_R_dda-deva</key>
		<real>9.765620231628418</real>
		<key>@MMK_R_ga-deva</key>
		<real>-43.945301055908203</real>
		<key>@MMK_R_gha-deva</key>
		<real>-19.531200408935547</real>
		<key>@MMK_R_ha-deva</key>
		<real>-24.414100646972656</real>
		<key>@MMK_R_jha-deva</key>
		<real>19.531200408935547</real>
		<key>@MMK_R_ma-deva</key>
		<real>-39.0625</real>
		<key>@MMK_R_na-deva</key>
		<real>-14.64840030670166</real>
		<key>@MMK_R_pa-deva</key>
		<real>-58.593799591064453</real>
		<key>@MMK_R_ya-deva</key>
		<real>-29.765600204467773</real>
		<key>dha-deva</key>
		<real>-29.296899795532227</real>
		<key>nna-deva</key>
		<real>-48.828098297119141</real>
		<key>pha-deva</key>
		<real>-73.242202758789062</real>
		<key>ssa-deva</key>
		<real>-48.828098297119141</real>
	</dict>
	<key>@MMK_L_j-deva</key>
	<dict>
		<key>@MMK_R_ja-deva</key>
		<real>-175.781005859375</real>
	</dict>
	<key>@MMK_L_ka-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-48.828098297119141</real>
		<key>@MMK_R_gha-deva</key>
		<real>-24.414100646972656</real>
		<key>@MMK_R_la-deva</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_m-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-53.710899353027344</real>
		<key>@MMK_R_dda-deva</key>
		<real>-4.882810115814209</real>
		<key>@MMK_R_ga-deva</key>
		<real>-29.296899795532227</real>
		<key>@MMK_R_gha-deva</key>
		<real>-9.765620231628418</real>
		<key>@MMK_R_ha-deva</key>
		<real>-29.296899795532227</real>
		<key>@MMK_R_pa-deva</key>
		<real>-29.296899795532227</real>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_o</key>
		<real>-34.179698944091797</real>
	</dict>
	<key>@MMK_L_n-deva</key>
	<dict>
		<key>@MMK_R_gha-deva</key>
		<real>-4.882810115814209</real>
		<key>@MMK_R_ja-deva</key>
		<real>29.296899795532227</real>
		<key>@MMK_R_ya-deva</key>
		<real>-39.0625</real>
	</dict>
	<key>@MMK_L_pa-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-4.882810115814209</real>
		<key>@MMK_R_gha-deva</key>
		<integer>-30</integer>
		<key>@MMK_R_ja-deva</key>
		<real>-9.765620231628418</real>
		<key>@MMK_R_la-deva</key>
		<integer>-20</integer>
		<key>@MMK_R_pa-deva</key>
		<integer>-40</integer>
		<key>@MMK_R_ra-deva</key>
		<real>9.765620231628418</real>
		<key>bha-deva</key>
		<real>-9.765620231628418</real>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_ra-deva</key>
	<dict>
		<key>@MMK_R_ga-deva</key>
		<real>-19.531200408935547</real>
		<key>@MMK_R_gha-deva</key>
		<real>-19.531200408935547</real>
	</dict>
	<key>@MMK_L_t-deva</key>
	<dict>
		<key>@MMK_R_ya-deva</key>
		<real>19.531200408935547</real>
	</dict>
	<key>@MMK_L_tta-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-53.710899353027344</real>
		<key>@MMK_R_ca-deva</key>
		<real>-43.945301055908203</real>
		<key>@MMK_R_gha-deva</key>
		<real>-39.0625</real>
		<key>@MMK_R_ja-deva</key>
		<real>-24.414100646972656</real>
		<key>@MMK_R_ka-deva</key>
		<real>-24.414100646972656</real>
		<key>@MMK_R_na-deva</key>
		<real>-29.296899795532227</real>
		<key>@MMK_R_ya-deva</key>
		<real>-19.531200408935547</real>
	</dict>
	<key>@MMK_L_y-deva</key>
	<dict>
		<key>@MMK_R_bha-deva</key>
		<real>-34.179698944091797</real>
		<key>@MMK_R_ca-deva</key>
		<real>-34.179698944091797</real>
		<key>@MMK_R_dda-deva</key>
		<real>34.179698944091797</real>
		<key>@MMK_R_ha-deva</key>
		<real>-9.765620231628418</real>
		<key>@MMK_R_pa-deva</key>
		<real>-29.296899795532227</real>
	</dict>
	<key>b-deva</key>
	<dict>
		<key>@MMK_R_ya-deva</key>
		<integer>-110</integer>
	</dict>
	<key>c-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<integer>-10</integer>
	</dict>
	<key>d_ga_uMatra-deva</key>
	<dict>
		<key>@MMK_R_dda-deva</key>
		<real>-48.828098297119141</real>
		<key>@MMK_R_pa-deva</key>
		<real>-43.945301055908203</real>
		<key>@MMK_R_tta-deva</key>
		<real>-43.945301055908203</real>
	</dict>
	<key>dottedCircle</key>
	<dict>
		<key>aiMatra_anusvara-deva</key>
		<real>-341.7969970703125</real>
	</dict>
	<key>i-deva</key>
	<dict>
		<key>@MMK_R_ta-deva</key>
		<integer>-50</integer>
	</dict>
	<key>jh-deva</key>
	<dict>
		<key>@MMK_R_dda-deva</key>
		<integer>-10</integer>
	</dict>
	<key>k-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<integer>-30</integer>
	</dict>
	<key>p-deva</key>
	<dict>
		<key>@MMK_R_la-deva</key>
		<integer>0</integer>
	</dict>
	<key>v-deva</key>
	<dict>
		<key>@MMK_R_ya-deva</key>
		<integer>-80</integer>
	</dict>
</dict>
</plist>
