<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>2D22BCDB-0E44-4AB8-B479-72FB20A76161</key>
		<dict>
			<key>HH</key>
			<integer>161</integer>
			<key>HV</key>
			<integer>296</integer>
			<key>OH</key>
			<integer>150</integer>
			<key>OV</key>
			<integer>323</integer>
			<key>nV</key>
			<integer>190</integer>
			<key>nd</key>
			<integer>150</integer>
			<key>oH</key>
			<integer>144</integer>
			<key>oV</key>
			<integer>303</integer>
			<key>tH</key>
			<integer>160</integer>
		</dict>
		<key>4C2B4986-1645-43C1-94B7-5E4C57EFF0D9</key>
		<dict>
			<key>HH</key>
			<integer>77</integer>
			<key>HV</key>
			<integer>145</integer>
			<key>OH</key>
			<integer>73</integer>
			<key>OV</key>
			<integer>158</integer>
			<key>nV</key>
			<integer>142</integer>
			<key>nd</key>
			<integer>68</integer>
			<key>oH</key>
			<integer>70</integer>
			<key>oV</key>
			<integer>146</integer>
			<key>tH</key>
			<integer>79</integer>
		</dict>
		<key>UUID0</key>
		<dict>
			<key>HH</key>
			<integer>41</integer>
			<key>HV</key>
			<integer>8</integer>
			<key>OH</key>
			<integer>40</integer>
			<key>OV</key>
			<integer>99</integer>
			<key>nV</key>
			<integer>86</integer>
			<key>nd</key>
			<integer>38</integer>
			<key>oH</key>
			<integer>39</integer>
			<key>oV</key>
			<integer>102</integer>
			<key>tH</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSOffsetHorizontal</key>
		<integer>6</integer>
		<key>GSOffsetVertical</key>
		<integer>8</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>4C2B4986-1645-43C1-94B7-5E4C57EFF0D9</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni015E</string>
		<string>uni0162</string>
		<string>uni0218</string>
		<string>uni021A</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tcaron</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni0149</string>
		<string>uni015F</string>
		<string>uni0163</string>
		<string>uni0219</string>
		<string>uni021B</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>A-cy</string>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Gheupturn-cy</string>
		<string>De-cy</string>
		<string>Ie-cy</string>
		<string>Iegrave-cy</string>
		<string>Io-cy</string>
		<string>Zhe-cy</string>
		<string>Ze-cy</string>
		<string>Ii-cy</string>
		<string>Iishort-cy</string>
		<string>Igrave-cy</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
		<string>El-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>O-cy</string>
		<string>Pe-cy</string>
		<string>Er-cy</string>
		<string>Es-cy</string>
		<string>Te-cy</string>
		<string>U-cy</string>
		<string>Ushort-cy</string>
		<string>Ef-cy</string>
		<string>Ha-cy</string>
		<string>Che-cy</string>
		<string>Tse-cy</string>
		<string>Sha-cy</string>
		<string>Shcha-cy</string>
		<string>Dzhe-cy</string>
		<string>Ia-cy</string>
		<string>Softsign-cy</string>
		<string>Hardsign-cy</string>
		<string>Yeru-cy</string>
		<string>Lje-cy</string>
		<string>Nje-cy</string>
		<string>Dze-cy</string>
		<string>E-cy</string>
		<string>Ereversed-cy</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
		<string>Je-cy</string>
		<string>Tshe-cy</string>
		<string>Iu-cy</string>
		<string>Dje-cy</string>
		<string>Ustraitstroke-cy</string>
		<string>a-cy</string>
		<string>be-cy</string>
		<string>ve-cy</string>
		<string>ge-cy</string>
		<string>gje-cy</string>
		<string>gheupturn-cy</string>
		<string>de-cy</string>
		<string>ie-cy</string>
		<string>iegrave-cy</string>
		<string>io-cy</string>
		<string>zhe-cy</string>
		<string>ze-cy</string>
		<string>ii-cy</string>
		<string>iishort-cy</string>
		<string>iigrave-cy</string>
		<string>ka-cy</string>
		<string>kje-cy</string>
		<string>el-cy</string>
		<string>em-cy</string>
		<string>en-cy</string>
		<string>o-cy</string>
		<string>pe-cy</string>
		<string>er-cy</string>
		<string>es-cy</string>
		<string>te-cy</string>
		<string>u-cy</string>
		<string>ushort-cy</string>
		<string>ef-cy</string>
		<string>ha-cy</string>
		<string>che-cy</string>
		<string>tse-cy</string>
		<string>sha-cy</string>
		<string>shcha-cy</string>
		<string>dzhe-cy</string>
		<string>ia-cy</string>
		<string>softsign-cy</string>
		<string>hardsign-cy</string>
		<string>yeru-cy</string>
		<string>lje-cy</string>
		<string>nje-cy</string>
		<string>dze-cy</string>
		<string>e-cy</string>
		<string>ereversed-cy</string>
		<string>i-cy</string>
		<string>yi-cy</string>
		<string>je-cy</string>
		<string>tshe-cy</string>
		<string>iu-cy</string>
		<string>dje-cy</string>
		<string>ustraitstroke-cy</string>
		<string>zhe-cy.ss01</string>
		<string>ka-cy.ss01</string>
		<string>Gamma</string>
		<string>Delta</string>
		<string>Pi</string>
		<string>Omega</string>
		<string>pi</string>
		<string>mu</string>
		<string>uni00B5</string>
		<string>ka-deva</string>
		<string>kha-deva</string>
		<string>ga-deva</string>
		<string>gha-deva</string>
		<string>nga-deva</string>
		<string>ca-deva</string>
		<string>cha-deva</string>
		<string>ja-deva</string>
		<string>jha-deva</string>
		<string>nya-deva</string>
		<string>tta-deva</string>
		<string>ttha-deva</string>
		<string>dda-deva</string>
		<string>ddha-deva</string>
		<string>nna-deva</string>
		<string>ta-deva</string>
		<string>tha-deva</string>
		<string>da-deva</string>
		<string>dha-deva</string>
		<string>na-deva</string>
		<string>nnna-deva</string>
		<string>pa-deva</string>
		<string>pha-deva</string>
		<string>ba-deva</string>
		<string>bha-deva</string>
		<string>ma-deva</string>
		<string>ya-deva</string>
		<string>ra-deva</string>
		<string>rra-deva</string>
		<string>la-deva</string>
		<string>lla-deva</string>
		<string>llla-deva</string>
		<string>va-deva</string>
		<string>sha-deva</string>
		<string>ssa-deva</string>
		<string>sa-deva</string>
		<string>ha-deva</string>
		<string>qa-deva</string>
		<string>khha-deva</string>
		<string>ghha-deva</string>
		<string>za-deva</string>
		<string>dddha-deva</string>
		<string>rha-deva</string>
		<string>fa-deva</string>
		<string>yya-deva</string>
		<string>gga-deva</string>
		<string>jja-deva</string>
		<string>ddda-deva</string>
		<string>bba-deva</string>
		<string>k_ka-deva</string>
		<string>k_ta-deva</string>
		<string>k_ra-deva</string>
		<string>k_la-deva</string>
		<string>k_va-deva</string>
		<string>k_ssa-deva</string>
		<string>k_ss_ra-deva</string>
		<string>kh_ra-deva</string>
		<string>g_na-deva</string>
		<string>g_ra-deva</string>
		<string>gh_ra-deva</string>
		<string>ng_ka-deva</string>
		<string>ng_k_ssa-deva</string>
		<string>ng_kha-deva</string>
		<string>ng_ga-deva</string>
		<string>ng_gha-deva</string>
		<string>ng_ma-deva</string>
		<string>c_ca-deva</string>
		<string>c_ra-deva</string>
		<string>ch_va-deva</string>
		<string>j_ja-deva</string>
		<string>j_nya-deva</string>
		<string>j_ra-deva</string>
		<string>jh_ra-deva</string>
		<string>ny_ca-deva</string>
		<string>ny_ja-deva</string>
		<string>ny_ra-deva</string>
		<string>tt_tta-deva</string>
		<string>tt_ttha-deva</string>
		<string>tt_ya-deva</string>
		<string>tt_va-deva</string>
		<string>tth_ttha-deva</string>
		<string>tth_ya-deva</string>
		<string>dd_dda-deva</string>
		<string>dd_ddha-deva</string>
		<string>dd_ya-deva</string>
		<string>ddh_ddha-deva</string>
		<string>ddh_ya-deva</string>
		<string>nn_ra-deva</string>
		<string>t_ta-deva</string>
		<string>t_ra-deva</string>
		<string>th_ra-deva</string>
		<string>d_ga-deva</string>
		<string>d_gha-deva</string>
		<string>d_da-deva</string>
		<string>d_dha-deva</string>
		<string>d_dh_r_ya-deva</string>
		<string>d_na-deva</string>
		<string>d_ba-deva</string>
		<string>d_bha-deva</string>
		<string>d_ma-deva</string>
		<string>d_ya-deva</string>
		<string>d_ra-deva</string>
		<string>d_va-deva</string>
		<string>dh_ra-deva</string>
		<string>n_na-deva</string>
		<string>n_ra-deva</string>
		<string>p_ta-deva</string>
		<string>p_ra-deva</string>
		<string>p_la-deva</string>
		<string>ph_ra-deva</string>
		<string>ph_la-deva</string>
		<string>b_ra-deva</string>
		<string>bh_ra-deva</string>
		<string>m_ra-deva</string>
		<string>y_ra-deva</string>
		<string>r_matra_u-deva</string>
		<string>r_matra_uu-deva</string>
		<string>l_ra-deva</string>
		<string>l_la-deva</string>
		<string>v_ra-deva</string>
		<string>sh_ra-deva</string>
		<string>sh_r_ca-deva</string>
		<string>sh_r_na-deva</string>
		<string>sh_r_la-deva</string>
		<string>sh_r_va-deva</string>
		<string>ss_tta-deva</string>
		<string>ss_ttha-deva</string>
		<string>ss_ra-deva</string>
		<string>s_t_ra-deva</string>
		<string>s_ra-deva</string>
		<string>h_nna-deva</string>
		<string>h_na-deva</string>
		<string>h_ma-deva</string>
		<string>h_ya-deva</string>
		<string>h_ra-deva</string>
		<string>h_la-deva</string>
		<string>h_va-deva</string>
		<string>f_ra-deva</string>
		<string>k_ra-deva.NEP</string>
		<string>aShort-deva</string>
		<string>aCandra-deva</string>
		<string>a-deva</string>
		<string>aa-deva</string>
		<string>i-deva</string>
		<string>ii-deva</string>
		<string>u-deva</string>
		<string>uu-deva</string>
		<string>rVocalic-deva</string>
		<string>rrVocalic-deva</string>
		<string>lVocalic-deva</string>
		<string>llVocalic-deva</string>
		<string>eCandra-deva</string>
		<string>eShort-deva</string>
		<string>e-deva</string>
		<string>ai-deva</string>
		<string>oCandra-deva</string>
		<string>oShort-deva</string>
		<string>o-deva</string>
		<string>au-deva</string>
		<string>oe-deva</string>
		<string>ooe-deva</string>
		<string>aw-deva</string>
		<string>ue-deva</string>
		<string>uue-deva</string>
		<string>k-deva</string>
		<string>kh-deva</string>
		<string>g-deva</string>
		<string>gh-deva</string>
		<string>c-deva</string>
		<string>ch-deva</string>
		<string>j-deva</string>
		<string>jh-deva</string>
		<string>ny-deva</string>
		<string>nn-deva</string>
		<string>t-deva</string>
		<string>th-deva</string>
		<string>dh-deva</string>
		<string>n-deva</string>
		<string>p-deva</string>
		<string>ph-deva</string>
		<string>b-deva</string>
		<string>bh-deva</string>
		<string>m-deva</string>
		<string>y-deva</string>
		<string>rr-deva</string>
		<string>l-deva</string>
		<string>ll-deva</string>
		<string>lll-deva</string>
		<string>v-deva</string>
		<string>sh-deva</string>
		<string>ss-deva</string>
		<string>s-deva</string>
		<string>h-deva</string>
		<string>aaMatra-deva</string>
		<string>iMatra-deva</string>
		<string>iMatra_reph-deva</string>
		<string>iMatra_reph_anusvara-deva</string>
		<string>iiMatra-deva</string>
		<string>iiMatra_reph-deva</string>
		<string>iiMatra_reph_anusvara-deva</string>
		<string>oCandraMatra-deva</string>
		<string>oShortMatra-deva</string>
		<string>oMatra_reph-deva</string>
		<string>oMatra_reph_anusvara-deva</string>
		<string>oMatra-deva</string>
		<string>auMatra_reph-deva</string>
		<string>auMatra_reph_anusvara-deva</string>
		<string>auMatra-deva</string>
		<string>prishthaMatraE-deva</string>
		<string>ooeMatra-deva</string>
		<string>awMatra-deva</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>uni2074</string>
		<string>zero-deva</string>
		<string>one-deva</string>
		<string>two-deva</string>
		<string>three-deva</string>
		<string>four-deva</string>
		<string>five-deva</string>
		<string>six-deva</string>
		<string>seven-deva</string>
		<string>eight-deva</string>
		<string>nine-deva</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>glottalstop-deva</string>
		<string>danda-deva</string>
		<string>dbldanda-deva</string>
		<string>abbreviation-deva</string>
		<string>highspacingdot-deva</string>
		<string>space</string>
		<string>nbspace</string>
		<string>uni00A0</string>
		<string>.notdef</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>florin</string>
		<string>sterling</string>
		<string>uni20BA</string>
		<string>uni20BD</string>
		<string>yen</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>uni2126</string>
		<string>uni2206</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>uni2113</string>
		<string>uni2116</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>avagraha-deva</string>
		<string>om-deva</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>hungarumlaut.case</string>
		<string>commaaccent</string>
		<string>caroncomb.alt</string>
		<string>uni02C9</string>
		<string>visarga-deva</string>
		<string>uMatra-deva</string>
		<string>uuMatra-deva</string>
		<string>rVocalicMatra-deva</string>
		<string>rrVocalicMatra-deva</string>
		<string>lVocalicMatra-deva</string>
		<string>llVocalicMatra-deva</string>
		<string>eCandraMatra-deva</string>
		<string>candraBindu-deva</string>
		<string>eShortMatra-deva</string>
		<string>eMatra-deva</string>
		<string>eMatra_anusvara-deva</string>
		<string>eMatra_reph-deva</string>
		<string>eMatra_reph_anusvara-deva</string>
		<string>aiMatra-deva</string>
		<string>aiMatra_reph-deva</string>
		<string>aiMatra_reph_anusvara-deva</string>
		<string>anusvara-deva</string>
		<string>halant-deva</string>
		<string>nukta-deva</string>
		<string>reph-deva</string>
		<string>reph_anusvara-deva</string>
		<string>rakar_uMatra-deva</string>
		<string>rakar_uuMatra-deva</string>
		<string>oeMatra-deva</string>
		<string>ueMatra-deva</string>
		<string>uueMatra-deva</string>
		<string>udatta-deva</string>
		<string>anudatta-deva</string>
		<string>grave-deva</string>
		<string>acute-deva</string>
		<string>reph-deva.imatra</string>
		<string>reph_anusvara-deva.imatra</string>
		<string>reph-deva.loclMAR</string>
		<string>rakar-deva</string>
		<string>Acute</string>
		<string>Breve</string>
		<string>Caron</string>
		<string>Cedilla</string>
		<string>Circumflex</string>
		<string>Dieresis</string>
		<string>Grave</string>
		<string>Ring</string>
		<string>Tilde</string>
		<string>foundry</string>
		<string>noBreak</string>
		<string>nonmarkingreturn</string>
		<string>deva_knot</string>
		<string>newGlyph</string>
		<string>u0915_u0930_u094D.blwf.vatu</string>
		<string>SignI_extended_1</string>
		<string>nepali_jha_half</string>
		<string>u0947_u0930_u094D.rphf.abvs_u0902.abvs</string>
		<string>u0948_u0902.abvs</string>
		<string>u0947_u0902.abvs</string>
		<string>u0948_u0930_u094D.rphf.abvs</string>
		<string>u0948_u0930_u094D.rphf.abvs_u0902.abvs</string>
		<string>u0947_u0930_u094D.rphf.abvs</string>
		<string>glyph172</string>
		<string>u0930_u094D.rphf</string>
		<string>u0930_u094D.rphf_u0902.abvs</string>
		<string>u0930_u094D.blwf</string>
		<string>u0924_u094D.half_u0924.pres</string>
		<string>u0936_u0930_u094D.blwf.vatu</string>
		<string>u0915_u094D_u0937.akhn</string>
		<string>u095E_u0930_u094D.blwf.vatu</string>
		<string>u0917_u094D.half</string>
		<string>u091C_u094D_u091E.akhn</string>
		<string>u0918_u094D.half</string>
		<string>u0915_u094D.half</string>
		<string>u0916_u094D.half</string>
		<string>u091C_u094D.half</string>
		<string>u091B_u094D.half</string>
		<string>u091A_u094D.half</string>
		<string>u091D_u094D.half</string>
		<string>u0919_u094D.half</string>
		<string>u091E_u094D.half</string>
		<string>u091F_u094D.half</string>
		<string>u0920_u094D.half</string>
		<string>u0923_u094D.half</string>
		<string>u0921_u094D.half</string>
		<string>u0924_u094D.half</string>
		<string>u0926_u094D.half</string>
		<string>u0925_u094D.half</string>
		<string>u0922_u094D.half</string>
		<string>u0929_u094D.half</string>
		<string>u0928_u094D.half</string>
		<string>u092B_u094D.half</string>
		<string>u0927_u094D.half</string>
		<string>u092A_u094D.half</string>
		<string>u092E_u094D.half</string>
		<string>u092C_u094D.half</string>
		<string>u092F_u094D.half</string>
		<string>u092D_u094D.half</string>
		<string>glyph207</string>
		<string>glyph206</string>
		<string>u0932_u094D.half</string>
		<string>u0937_u094D.half</string>
		<string>u0933_u094D.half</string>
		<string>u0939_u094D.half</string>
		<string>u0936_u094D.half</string>
		<string>u0938_u094D.half</string>
		<string>u0934_u094D.half</string>
		<string>u095A_u094D.half</string>
		<string>u0935_u094D.half</string>
		<string>u095B_u094D.half</string>
		<string>u0936_u094D.half_u0930_u094D.blwf.vatu</string>
		<string>u0959_u094D.half</string>
		<string>u0958_u094D.half</string>
		<string>u0924_u094D.half_u0924_u094D.half.pres</string>
		<string>u095E_u094D.half</string>
		<string>u0924_u094D.half_u0930_u094D.blwf.vatu</string>
		<string>glyph229</string>
		<string>glyph226</string>
		<string>u091C_u094D_u091E.akhn_u094D.half</string>
		<string>glyph230</string>
		<string>glyph227</string>
		<string>glyph231</string>
		<string>glyph228</string>
		<string>u0940_u0930_u094D.rphf.abvs</string>
		<string>u0915_u094D_u0937.akhn_u094D.half</string>
		<string>glyph236</string>
		<string>u0940_u0902.abvs</string>
		<string>u0940_u0930_u094D.rphf.abvs_u0902.abvs</string>
		<string>glyph238</string>
		<string>glyph237</string>
		<string>u0930_u094D.blwf_u0941.blws</string>
		<string>glyph243</string>
		<string>glyph239</string>
		<string>glyph232</string>
		<string>glyph244</string>
		<string>glyph245</string>
		<string>u0930_u094D.blwf_u0942.blws</string>
		<string>glyph247</string>
		<string>u0931_u094D.half</string>
		<string>glyph242</string>
		<string>u0916_u0930_u094D.blwf.vatu</string>
		<string>u091C_u0930_u094D.blwf.vatu</string>
		<string>u0917_u0930_u094D.blwf.vatu</string>
		<string>u0926_u0930_u094D.blwf.vatu</string>
		<string>u092A_u0930_u094D.blwf.vatu</string>
		<string>u0924_u0930_u094D.blwf.vatu</string>
		<string>u092C_u0930_u094D.blwf.vatu</string>
		<string>u091D_u0930_u094D.blwf.vatu</string>
		<string>u092E_u0930_u094D.blwf.vatu</string>
		<string>u092D_u0930_u094D.blwf.vatu</string>
		<string>u0935_u0930_u094D.blwf.vatu</string>
		<string>u092B_u0930_u094D.blwf.vatu</string>
		<string>glyph263</string>
		<string>u0938_u0930_u094D.blwf.vatu</string>
		<string>u0939_u0930_u094D.blwf.vatu</string>
		<string>u0915_u094D.half_u0924.pres</string>
		<string>u0915_u094D.half_u0915.pres</string>
		<string>u0915_u094D.half_u0935.pres</string>
		<string>u0917_u094D.half_u0928.pres</string>
		<string>u0919_u094D.half_u0916.pres</string>
		<string>u0919_u094D.half_u0915.pres</string>
		<string>u0z919_u094D.half_u0917.pres</string>
		<string>u0915_u094D.half_u0932.pres</string>
		<string>u0919_u094D.half_u092E.pres</string>
		<string>u0919_u094D.half_u0918.pres</string>
		<string>u091E_u094D.half_u091A.pres</string>
		<string>u091B_u094D.half_u0935.pres</string>
		<string>u091A_u094D.half_u091A.pres</string>
		<string>u091E_u094D.half_u091C.pres</string>
		<string>u0919_u094D.half_u0915_u094D_u0937.akhn.pres</string>
		<string>u091F_u094D.half_u091F.pres</string>
		<string>u091C_u094D.half_u091C.pres</string>
		<string>u091F_u094D.half_u0920.pres</string>
		<string>u091F_u094D.half_u0935.pres</string>
		<string>u091F_u094D.half_u092F.pres</string>
		<string>u0920_u094D.half_u092F.pres</string>
		<string>u0920_u094D.half_u0920.pres</string>
		<string>u0921_u094D.half_u0922.pres</string>
		<string>u0922_u094D.half_u0922.pres</string>
		<string>u0921_u094D.half_u0921.pres</string>
		<string>u0926_u094D.half_u0927.pres</string>
		<string>u0922_u094D.half_u092F.pres</string>
		<string>u0926_u094D.half_u0918.pres</string>
		<string>u0921_u094D.half_u092F.pres</string>
		<string>u0926_u094D.half_u0917.pres</string>
		<string>u0926_u094D.half_u0926.pres</string>
		<string>u0926_u094D.half_u092C.pres</string>
		<string>u0926_u094D.half_u092F.pres</string>
		<string>u0926_u094D.half_u0935.pres</string>
		<string>u0928_u094D.half_u0928.pres</string>
		<string>u0926_u094D.half_u0928.pres</string>
		<string>u092A_u094D.half_u0924.pres</string>
		<string>u0926_u094D.half_u092E.pres</string>
		<string>u092A_u094D.half_u0932.pres</string>
		<string>u0936_u094D.half_u0930_u094D.blwf.vatu_u091A.pres</string>
		<string>u0926_u094D.half_u092D.pres</string>
		<string>u0936_u094D.half_u0930_u094D.blwf.vatu_u0928.pres</string>
		<string>u0932_u094D.half_u0932.pres</string>
		<string>u0936_u094D.half_u0930_u094D.blwf.vatu_u0932.pres</string>
		<string>u092B_u094D.half_u0932.pres</string>
		<string>u0936_u094D.half_u0930_u094D.blwf.vatu_u0935.pres</string>
		<string>u0939_u094D.half_u0928.pres</string>
		<string>u0937_u094D.half_u0920.pres</string>
		<string>u0937_u094D.half_u091F.pres</string>
		<string>u0939_u094D.half_u092E.pres</string>
		<string>u0939_u094D.half_u0932.pres</string>
		<string>u0938_u094D.half_u0924_u0930_u094D.blwf.vatu.pres</string>
		<string>u0939_u094D.half_u092F.pres</string>
		<string>u0939_u094D.half_u0923.pres</string>
		<string>u091C_u094D.half_u091C_u094D.half.pres</string>
		<string>u0939_u094D.half_u0935.pres</string>
		<string>glyph324</string>
		<string>u0918_u0930_u094D.blwf.vatu</string>
		<string>u0926_u0943.blws</string>
		<string>u0930_u0941.psts</string>
		<string>u0939_u0943.blws</string>
		<string>u0930_u0942.psts</string>
		<string>u0927_u0930_u094D.blwf.vatu</string>
		<string>u094B_u0902.abvs</string>
		<string>u091A_u0930_u094D.blwf.vatu</string>
		<string>u0919_u094D.half_u0915_u094D.half.half</string>
		<string>u0928_u0930_u094D.blwf.vatu</string>
		<string>u0925_u0930_u094D.blwf.vatu</string>
		<string>u094B_u0930_u094D.rphf.abvs</string>
		<string>u094B_u0930_u094D.rphf.abvs_u0902.abvs</string>
		<string>u094C_u0902.abvs</string>
		<string>u0932_u0930_u094D.blwf.vatu</string>
		<string>u094C_u0930_u094D.rphf.abvs_u0902.abvs</string>
		<string>u0923_u0930_u094D.blwf.vatu</string>
		<string>u094C_u0930_u094D.rphf.abvs</string>
		<string>u091E_u0930_u094D.blwf.vatu</string>
		<string>u0937_u0930_u094D.blwf.vatu</string>
		<string>u092F_u0930_u094D.blwf.vatu</string>
		<string>np8</string>
		<string>u091C_u094D_u091E.akhn_u0930_u094D.blwf.vatu</string>
		<string>np5</string>
		<string>u0915_u094D_u0937.akhn_u0930_u094D.blwf.vatu</string>
		<string>npu0915_u0930_u094D.blwf.vatu</string>
		<string>np_zha</string>
		<string>nepali_jha_091d</string>
		<string>lig_0926_0927_0930_092f</string>
		<string>uniEFFD</string>
	</array>
</dict>
</plist>
