<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Cheabkhasian-cy</key>
    <string>C_heabkhasian-cy.glif</string>
    <key>Chekhakassian-cy</key>
    <string>C_hekhakassian-cy.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Dje-cy.BRACKET.600</key>
    <string>D_je-cy.B_R_A_C_K_E_T_.600.glif</string>
    <key>Dzeabkhasian-cy</key>
    <string>D_zeabkhasian-cy.glif</string>
    <key>Eltail-cy</key>
    <string>E_ltail-cy.glif</string>
    <key>EnLeftHook-cy</key>
    <string>E_nL_eftH_ook-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Entail-cy</key>
    <string>E_ntail-cy.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ezh</key>
    <string>E_zh.glif</string>
    <key>Ge-cy</key>
    <string>G_e-cy.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Gestrokehook-cy</key>
    <string>G_estrokehook-cy.glif</string>
    <key>Ghemiddlehook-cy</key>
    <string>G_hemiddlehook-cy.glif</string>
    <key>Haabkhasian-cy</key>
    <string>H_aabkhasian-cy.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Iishorttail-cy</key>
    <string>I_ishorttail-cy.glif</string>
    <key>Izhitsa-cy</key>
    <string>I_zhitsa-cy.glif</string>
    <key>Kadescender-cy</key>
    <string>K_adescender-cy.glif</string>
    <key>Kahook-cy</key>
    <string>K_ahook-cy.glif</string>
    <key>Kaverticalstroke-cy</key>
    <string>K_averticalstroke-cy.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>Pedescender-cy</key>
    <string>P_edescender-cy.glif</string>
    <key>Reversedze-cy</key>
    <string>R_eversedze-cy.glif</string>
    <key>Sha-cy</key>
    <string>S_ha-cy.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Yusbig-cy</key>
    <string>Y_usbig-cy.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Zedescender-cy.loclBSH</key>
    <string>Z_edescender-cy.loclB_S_H_.glif</string>
    <key>Zhedescender-cy</key>
    <string>Z_hedescender-cy.glif</string>
    <key>__descender-cy.case</key>
    <string>__descender-cy.case.glif</string>
    <key>__verticalbar-cy</key>
    <string>__verticalbar-cy.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>be-cy.loclSRB</key>
    <string>be-cy.loclS_R_B_.glif</string>
    <key>brevecomb_hookabovecomb</key>
    <string>brevecomb_hookabovecomb.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>che-cy.loclBGR</key>
    <string>che-cy.loclB_G_R_.glif</string>
    <key>cheabkhasian-cy</key>
    <string>cheabkhasian-cy.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>circumflexcomb.case.i</key>
    <string>circumflexcomb.case.i.glif</string>
    <key>circumflexcomb.i</key>
    <string>circumflexcomb.i.glif</string>
    <key>commercialMinusSign</key>
    <string>commercialM_inusS_ign.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dzeabkhasian-cy</key>
    <string>dzeabkhasian-cy.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>en-cy.loclBGR</key>
    <string>en-cy.loclB_G_R_.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>enlefthook-cy</key>
    <string>enlefthook-cy.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>ezh</key>
    <string>ezh.glif</string>
    <key>ge-cy.loclBGR</key>
    <string>ge-cy.loclB_G_R_.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gestrokehook-cy</key>
    <string>gestrokehook-cy.glif</string>
    <key>ghemiddlehook-cy</key>
    <string>ghemiddlehook-cy.glif</string>
    <key>ghestroke-cy.loclBSH</key>
    <string>ghestroke-cy.loclB_S_H_.glif</string>
    <key>gstroke</key>
    <string>gstroke.glif</string>
    <key>haabkhasian-cy</key>
    <string>haabkhasian-cy.glif</string>
    <key>hahook-cy</key>
    <string>hahook-cy.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>izhitsa-cy</key>
    <string>izhitsa-cy.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>ka-cy.loclBGR</key>
    <string>ka-cy.loclB_G_R_.glif</string>
    <key>kadescender-cy</key>
    <string>kadescender-cy.glif</string>
    <key>kahook-cy</key>
    <string>kahook-cy.glif</string>
    <key>kastroke-cy</key>
    <string>kastroke-cy.glif</string>
    <key>kaverticalstroke-cy</key>
    <string>kaverticalstroke-cy.glif</string>
    <key>leftanglebracket-math</key>
    <string>leftanglebracket-math.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>pedescender-cy</key>
    <string>pedescender-cy.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>schwa-cy</key>
    <string>schwa-cy.glif</string>
    <key>sha-cy.loclBGR</key>
    <string>sha-cy.loclB_G_R_.glif</string>
    <key>shcha-cy.loclBGR</key>
    <string>shcha-cy.loclB_G_R_.glif</string>
    <key>softsign-cy.loclBGR</key>
    <string>softsign-cy.loclB_G_R_.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>tail-cy</key>
    <string>tail-cy.glif</string>
    <key>tail-cy.case</key>
    <string>tail-cy.case.glif</string>
    <key>tshe-cy</key>
    <string>tshe-cy.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>ustraight-cy</key>
    <string>ustraight-cy.glif</string>
    <key>ustraightstroke-cy</key>
    <string>ustraightstroke-cy.glif</string>
    <key>ve-cy.loclBGR</key>
    <string>ve-cy.loclB_G_R_.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yusbig-cy</key>
    <string>yusbig-cy.glif</string>
    <key>ze-cy.loclBGR</key>
    <string>ze-cy.loclB_G_R_.glif</string>
    <key>zhedescender-cy</key>
    <string>zhedescender-cy.glif</string>
  </dict>
</plist>
